.bookmark.media.mg_btm_10#bookmark{id: bookmark.bookmarkable.id}
  #bookmark_image.media-left
    = link_to artist_path(artist_name: bookmark.bookmarkable.name) do
      = image_tag bookmark.bookmarkable.image, class: 'img_rnd img_50'

  %h4#bookmark_name.media-body
    = link_to bookmark.bookmarkable.name, artist_path(artist_name: bookmark.bookmarkable.name)

    #bookmark_delete
      = button_to bookmark_path(model_type: 'Artist', model_id: bookmark.bookmarkable.id), method: :delete, remote: true, class: 'inv_btn' do
        %h6 Delete