.card
  .card-body
    %h4 
      %i.fas.fa-bookmark
      Bookmarks

    .separator.default.my-3

    %h5
      Tracks:

    .separator.default.my-2

    - if @bookmarks.any?
      %table.table.table-hover.table-sm
        = render partial: 'track_bookmark', collection: @bookmarks.decorate
      = paginate(@bookmarks)
    - else
      There are no bookmarks.
