.nav-pills.flex-column.position-sticky.mr-4.d-none.d-sm-block.scrollspy
  = link_to '#artists', class: 'nav-link' do
    %i.fas.fa-user.mr-1
    Artists
  = link_to '#albums', class: 'nav-link' do
    %i.fas.fa-dot-circle.mr-1
    Albums
  = link_to '#tracks', class: 'nav-link' do
    %i.fas.fa-music.mr-1
    Tracks
