@import 'styles/Base.sass'

.playerPanel
  @extend .noBorder
  height: 70px
  z-index: 1500 !important
  padding: 10px 0 !important

.playerPanel.fullScreen
  min-height: calc(100% - 40px) !important

.playerPanelLeftColumn
  @extend .inlineBlock, .midAlign
  width: 200px
  margin-right: 20px

.playerPanelRightColumn
  @extend .inlineBlock, .midAlign
  width: 480px

#playerPanelAudio
  @extend .w100

.playerPanelAudioWrap
  @extend .relative
  height: 4px

.playerPanelBar
  -webkit-appearance: none
  background: transparent
  outline: none
  cursor: pointer
  height: 4px
  border-radius: 2px

  &::-webkit-slider-thumb
    -webkit-appearance: none
    height: 10px
    width: 10px
    border-radius: 5px
    background: $muffonBase

.playerPanelAudioBar
  @extend .absolute, .w100

.playerPanelBackgroundBar
  @extend .absolute, .w100, .playerPanelBar
  background: $semanticGray

.playerPanelLoaderBar
  @extend .absolute, .playerPanelBar
  background: $muffonPale

.playerPanelTrackWrap
  a
    color: unset
    &:hover
      color: initial
  .playerPanelTrackImage
    @extend .inlineBlock, .midAlign
    width: 40px
    margin-right: 10px
  img, .placeholder
    border-radius: 50% !important
  .playerPanelTrackContent
    @extend .inlineBlock, .midAlign
    width: calc(100% - 50px)

.playerPanelVolumePopup
  .playerPanelVolumeBar
    @extend .playerPanelBar, .inlineBlock, .midAlign
    margin-right: 10px
  .playerPanelVolumeValue
    @extend .inlineBlock, .midAlign
    margin: 0 !important

.playerPanelExtraPopup
  padding: 6px 12px !important

.playerPanelMainControls
  @extend .flex
  justify-content: space-between
  align-items: center
  margin-bottom: 10px
