.playerPanel
  @extend .noBorder, .padding0
  z-index: 1500 !important
.ui.sidebar.playerPanel
  height: 70px !important
  overflow: visible !important

// Containers

.playerPanelTrackVariantsContainer
  @extend .relative

.playerPanelBackground
  @extend .w100, .h100, .absolute, .shadowed
  background: white

.playerPanelMainContainer
  @extend .relative, .flex, .alignItemsCenter
  padding: 10px 1em

// Track variants

.playerPanelTrackVariants
  @extend .absolute
  bottom: -250px
  width: 330px
  transition: 0.2s
.playerPanelTrackVariants.open
  bottom: 0

.playerPanelTrackVariantsButton
  @extend .margin0, .noBottomRadius, .shadowed
  bottom: -1px

.playerPanelTrackVariantsContent
  @extend .margin0, .noBottomRadius, .shadowed, .noBorder, .yScrollable
  height: 250px
  padding: 10px !important
  border-top-left-radius: 0 !important
  bottom: -1px

.playerPanelTrackVariant.disabled
  .header, .description
    color: rgba(40,40,40,.3)!important

.playerPanelTrackVariantContent
  @extend .flex, .alignItemsCenter, .justifyContentSpaceBetween

.playerPanelTrackVariantLength
  margin-left: 10px

// Left column

.playerPanelLeftColumn
  width: 220px
  margin-right: 20px

.playerPanelTrack
  @extend .alignItemsCenter
  line-height: 1

.playerPanelTrackImageWrap
  width: 40px
  margin-right: 10px

.playerPanelTrackContent
  width: 140px
  margin: 0 10px 0 0 !important

.playerPanelTrackIcon
  @extend .padding0, .margin0
  width: 20px !important

// Right column

.playerPanelRightColumn
  width: calc(100% - 240px) !important

#playerPanelAudio
  @extend .w100

.playerPanelAudioWrap
  @extend .relative, .w100
  height: 4px

.playerPanelBar
  @extend .clickable, .noOutline
  -webkit-appearance: none
  background: transparent
  height: 4px
  border-radius: 2px

  &::-webkit-slider-thumb
    -webkit-appearance: none
    height: 10px
    width: 10px
    border-radius: 5px
    background: $muffonBase
    visibility: hidden

  &:hover
    &::-webkit-slider-thumb
      visibility: visible

.playerPanelAudioBar
  @extend .absolute, .w100

.playerPanelAudioBackgroundBar
  @extend .absolute, .w100, .playerPanelBar
  background: $muffonGray

.playerPanelAudioLoaderBar
  @extend .absolute, .playerPanelBar
  background: $muffonPale

.playerPanelVolumePopup
  .playerPanelVolumeBar
    @extend .playerPanelBar, .inlineBlock, .midAlign
    margin-right: 10px
  .playerPanelVolumeValue
    @extend .inlineBlock, .midAlign
    margin: 0 !important

.playerPanelExtraPopup
  padding: 6px 12px !important

.playerPanelTimerControls
  @extend .flex, .alignItemsCenter, .justifyContentSpaceBetween
  margin-bottom: 10px
