.queuePanel
  @extend .padding0, .noBorder
  width: 350px !important
.ui.sidebar.queuePanel
  z-index: 1000

.queuePanelHeader
  @extend .flex, .justifyContentSpaceBetween

.queuePanelHeaderButton
  @extend .margin0, .padding0, .noShadow
  background: transparent !important

.queuePanelHeaderText
  @extend .margin0

.queuePanelContentWrap
  @extend .flexColumn
  height: calc(100% - 110px) !important
  margin-top: 40px !important
  padding: 1em !important

.queuePanelTracks
  @extend .yScrollable, .margin0
  height: calc(100% - 22px - 2em) !important
