@import 'styles/Global.sass'

.searchDimmer
  z-index: 2000 !important
.searchDimmer.visible
  visibility: visible !important
.searchDimmer.hidden
  visibility: hidden !important

.searchDimmer > .content
  @extend .h100
  margin: 40px 0
  width: 500px
  text-align: left

.searchDimmerData
  @extend .flexColumn

.searchResults
  @extend .h100, .flexColumn
  margin-top: 10px
.searchResults > .ui.menu
  @extend .margin0

.searchResultsTab
  @extend .h100, .w100, .noBorder, .margin0, .padding0
  .errorMessage
    margin-top: 10px

.searchResultsTabContentWrap
  @extend .h100, .padding0, .noBorder, .noShadow

.searchResultsTabContent
  @extend .h100, .w100, .absolute, .noBorder, .padding0, .noShadow
  overflow-y: scroll

.searchResultsTabContentList
  margin: 10px 0 !important

.searchItem
  @extend .flex, .alignItemsCenter
  .playButton button
    @extend .margin0

.searchItemImage
  width: 50px !important
  height: 50px !important

.searchItemContent
  padding: 0 0 0 10px !important

.searchClearQueryButton
  left: 342px !important
