@import '../Base.sass'

.search
  z-index: 2000 !important

.search > .content
  height: calc(100% - 80px)
  width: 500px
  text-align: left

.searchResultsWrap
  height: calc(100% - 72px)
  padding-top: 0 !important

.searchResultsWrap > div
  @extend .h100

.searchTabWrap
  @extend .noBorder
  height: calc(100% - 54px)
  overflow-y: scroll
  padding: 0 !important

.searchTabPagination button
  margin: 0.5em !important

.searchItemImage
  width: 50px !important
  height: 50px !important

.searchItemContent
  width: calc(100% - 50px) !important
  word-break: break-all

.searchItemIcon
  padding: 0 !important

.searchItemIcon button
  margin: 0 !important
