Order:
- if params[:scope]
	- if params[:scope] == 'count desc'
		most played
	- if params[:scope] == 'count asc'
		least played
	- if params[:scope] == 'created_at desc'
		newest
	- if params[:scope] == 'created_at asc'
		oldest
- elsif @profile.library_albums_scope
	- if @profile.library_albums_scope == 'count desc'
		most played
	- if @profile.library_albums_scope == 'count asc'
		least played
	- if @profile.library_albums_scope == 'created_at desc'
		newest
	- if @profile.library_albums_scope == 'created_at asc'
		oldest
- else
	most played
.caret