Order:
- if params[:scope]
	- if params[:scope] == '1'
		most played
	- if params[:scope] == '2'
		least played
	- if params[:scope] == '3'
		newest
	- if params[:scope] == '4'
		oldest
- elsif @profile.library_artists_scope
	- if @profile.library_artists_scope == 'count desc'
		most played
	- if @profile.library_artists_scope == 'count asc'
		least played
	- if @profile.library_artists_scope == 'created_at desc'
		newest
	- if @profile.library_artists_scope == 'created_at asc'
		oldest
- else
	most played
.caret