%tr.profile
	%td
		.img_sm.img_rnd.media-left= link_to image_tag(profile.avatar), profile
		.media-body
			%h4.inline= link_to profile.nickname, profile
			- if current_profile?(profile)
				%h5.inline (that's you)
			- unless current_profile?(profile)
				%br
				.inline#follow_button{id: profile.id}= render 'relationships/follow_button', profile: profile
				.inline= link_to 'Write a message', new_message_path(to: profile), class: 'btn btn-sm btn-primary'