= message
- if params[:albums_scope]
	- if params[:albums_scope] == '7'
		1 week
	- if params[:albums_scope] == '30'
		1 month
	- if params[:albums_scope] == '90'
		3 months
	- if params[:albums_scope] == '180'
		6 months
	- if params[:albums_scope] == '365'
		1 year
	- if params[:albums_scope] == '0'
		all time
- elsif @profile.top_albums_scope
	- if @profile.top_albums_scope == 7
		1 week
	- if @profile.top_albums_scope == 30
		1 month
	- if @profile.top_albums_scope == 90
		3 months
	- if @profile.top_albums_scope == 180
		6 months
	- if @profile.top_albums_scope == 365
		1 year
	- if @profile.top_albums_scope == 0
		all time
-else
	all time
.caret