#library_artist_tracks_panel.panel.panel-default.library_artist_page.center
	= render 'panel_header'
	#library_artist_tracks_panel_content.panel_content
		%table.table.table-hover.table-condensed#profile_artist_tracks
			= render partial: 'profile_track', collection: @tracks
		= will_paginate @tracks if @tracks.count > 20