.library_tracks_panel.panel.panel-default.profile_library.center
	.panel_header_sm
		%h3= "#{@profile.nickname}'s tracks"
	.library_tracks.panel_content
		%table.table.table-hover.table-condensed
			= render partial: 'profile_track', collection: @tracks
		= will_paginate @tracks if @tracks.count > 20