.row.no-gutters.mx-0
  .start-page-wrap
    .text-center.text-white.mb-4
      .h0.mb-0
        = link_to 'muffon', root_path
      %h4
        More than music.

    #start-wrap
      #login-form.d-block.px-3
        = render 'login_card'
      #signup-btns.px-3
      #signup-form.px-3
      #additional-form.px-3
