#login_form.form_center.panel
  .panel_header
    %h4 Log in

  .separator.sep_0.sep_light

  .panel_content

    = render 'login_form'

    %h6.mg_top_10.text-center
      Don't have an account?
      = link_to 'Sign up', signup_path