- if in_playlist
  = button_to profiles_playlists_profile_artist_path(playlist_id: params[:playlist_id], profile_artist_id: artist_id, page: params[:page]), class: 'btn btn-light btn-sm btn-30', method: :delete, remote: true do
    %i.fas.fa-check
- else
  = button_to profiles_playlists_profile_artists_path(playlist_id: params[:playlist_id], profile_artist_id: artist_id, page: params[:page]), class: 'btn btn-primary btn-sm btn-30', remote: true do
    %i.fas.fa-plus
