{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": {
      "globals": true
    }
  },
  "extends": ["plugin:react/recommended", "standard"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "unused-imports"],
  "rules": {
    "unused-imports/no-unused-imports": "error",
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["dist/bundle.js"]
}
