/build
/build_electron
/package_electron

/electron_data

/node_modules

/semantic/src/definitions
/semantic/src/themes

/semantic/src/site/collections/**
/semantic/src/site/elements/**
/semantic/src/site/globals/**
/semantic/src/site/modules/**
/semantic/src/site/views/**

!/semantic/src/site/elements/button.variables
!/semantic/src/site/globals/site.overrides
!/semantic/src/site/globals/site.variables
!/semantic/src/site/modules/checkbox.variables

/semantic/src/overrides.less
/semantic/src/semantic.less
/semantic/src/theme.config
/semantic/src/theme.less

/semantic/tasks

/semantic/dist/components
/semantic/dist/semantic.css
/semantic/dist/semantic.rtl.css
/semantic/dist/semantic.js

/semantic/gulpfile.js

.env
