/build
/build_electron
/package_electron
/electron_data
/node_modules
/semantic/src
/semantic/tasks
/semantic/dist/components
/semantic/dist/semantic.css
/semantic/dist/semantic.js
/semantic/gulpfile.js
todo
yarn-error.log
.env
