- if logged_in?
	.artist-actions
		.artist-action#artist-library-action{ id: artist.id }
			= render 'artists/actions/library', artist: artist, in_library: artist.id.in?(@profile_artist_ids)
		.artist-action#artist-bookmark-action{ id: artist.id }
			= render 'artists/actions/bookmarks', model: artist, bookmarked: artist.id.in?(@bookmarked_artist_ids)
		.artist-action#artist-listened-action{ id: artist.id }
			= render 'artists/actions/listened_artists', artist: artist, listened: artist.id.in?(@listened_artist_ids)
