- if artist.description.present?

  - if artist.truncated_description(limit).present?

    %h5
      = artist.truncated_description(limit)

      - if artist.truncated_description(limit).length > limit

        = link_to 'Read More...', artist_wiki_path(name: artist.artist_name), class: 'text-muted'

      - else

        %h5.text-muted
          No description available.

  - else

    %h5.text-muted
      No description available.

- else

  %h5.text-muted
    No description available.
