- if artist.in_library?(current_profile)

  .full_height{style: 'background-color: #392d50'}
    #artist_in_library_btn
      = link_to library_artist_path(id: current_profile.id, name: artist.name), data: {toggle: 'tooltip', placement: 'bottom'}, title: "In your library", class: 'inv_btn_no_hover' do
        = fa_icon 'music'

- else

  .full_height
    #add_artist_to_library_btn
      = button_to create_library_artist_path(id: current_profile.id, artist_id: artist.id), data: {toggle: 'tooltip', placement: 'bottom'}, title: "Add to library", remote: true, class: 'inv_btn' do
        = fa_icon 'music'
        -# .plus_small.inline
        -#   = fa_icon 'plus'