- if artist.listened_by?(current_profile)

  .full_height{style: 'background-color: #563c8a'}
    #uncheck_artist_btn
      = button_to listened_artist_path(id: current_profile.listened_artists.find_by(artist_id: artist.id), artist_id: artist.id), method: :delete, remote: true, data: {toggle: 'tooltip', placement: 'bottom'}, title: "Listened", class: 'inv_btn_no_hover' do
        = fa_icon 'check'

- else

  .full_height
    #check_artist_btn
      = button_to listened_artists_path(artist_id: artist.id), remote: true, data: {toggle: 'tooltip', placement: 'bottom'}, title: "Mark as listened", class: 'inv_btn' do
        = fa_icon 'check'
        -# .plus_small.inline
        -#   = fa_icon 'plus'