.nav-pills.flex-column.position-sticky.mr-4.d-none.d-sm-block.scrollspy
  = link_to '#tracks', class: 'nav-link' do
    %i.fas.fa-user.mr-1
    Top tracks
  = link_to '#albums', class: 'nav-link' do
    %i.fas.fa-dot-circle.mr-1
    Top albums
  = link_to '#similar-artists', class: 'nav-link' do
    %i.fas.fa-music.mr-1
    Similar artists
  = link_to '#board', class: 'nav-link' do
    %i.fas.fa-edit.mr-1
    Board
