#album_wiki_page.artist_page.panel.center
  
  .panel_header
    %h3
      .media-left.mid_align
        = image_tag @album.album_cover, class: 'img_50'
      .media-right.mid_align
        %h4
          = link_to @album.title, artist_album_path
        %h5
          = link_to @artist.name, artist_path

  .separator.sep_0.sep_light

  .panel_content

    %h4
      %i.fas.fa-info-circle
      Wiki:

    .separator.sep_10.sep_default

    %h5
      - if @description.present?

        = @description.gsub(URI.regexp, '<a href="\0" target="blank">\0</a>')

      - else

        .text-muted
          No description.
