#artist_albums_page.artist_page.panel.center
  
  = render 'panel_header'

  .separator.sep_0.sep_light

  .artist_albums_page_albums.panel_content

    %h4 Albums:

    .separator.sep_10.sep_default

    .panel_content_wide
      = render partial: 'album', collection: @albums

    .text_center.mg_top_10
      = paginate @albums