#artist_images_page.artist_page.panel.center

  = render 'panel_header'

  .separator.sep_0.sep_light

  .panel_content

    %h4 Images:

    .separator.sep_10.sep_default

    .panel_content_wide

      - @images.map do |image|

        .image.image_170.inline.mg_btm_20
          = image_tag image, onclick: "$('#image_modal_#{image.split('/').last}').modal()", style: 'cursor: pointer'

        #image_modal.modal{id: image.split('/').last}
          .modal-dialog.text_center
            = image_tag image.gsub('/avatar170s', ''), style: 'max-width:600px'
