#artist_plays_page.artist_page.panel.center
  
  = render 'panel_header'

  .separator.sep_0.sep_light

  .panel_content

    %h4 Plays:

    .separator.sep_10.sep_default

    %table.table.table-hover

      = render partial: 'play', collection: @plays

    .text_center
      = paginate @plays