.artist_page#artist_similar_page.panel.center
  
  = render 'panel_header'

  .separator.sep_0.sep_light

  .panel_content

    %h4 Similar artists:

    .separator.sep_10.sep_default

    = render partial: 'similar_artist', collection: @similar_artists
  
    .text_center.mg_top_10
      = paginate @similar_artists