#artist_tags_page.artist_page.panel.center
  
  = render 'panel_header'

  .separator.sep_0.sep_light

  .panel_content

    %h4
      %i.fas.fa-tags
      Tags:

    .separator.sep_10.sep_default

    - @tags.map do |tag|
      .inline
        = link_to tag_path(name: tag.name), class: 'btn btn-primary btn-sm tag' do
          %strong
            = tag.name
