.artist_page.artist_tracks_page.panel.center
	
	= render 'panel_header'

	.separator.sep_0.sep_light

	.artist_tracks_page_tracks.panel_content

		%h4 Tracks:

		.separator.sep_10.sep_default

		%table.table.table-hover.table-condensed
			= render partial: 'track', collection: @tracks

		.text_center.mg_top_10
			= paginate @tracks
			-# .btn-group
			-# 	= link_to_prev_page @tracks, '< Previous', class: 'btn btn-primary'
			-# 	= link_to_next_page @tracks, 'Next >', class: 'btn btn-primary' unless @tracks.count < 20