- if @artists.any?

  .panel_content_wide
    = render partial: 'profiles/library/main/partials/artist', collection: @artists

  - unless params[:action] == 'artists'
    .text_right
      = link_to 'View more...', profiles_library_artists_path(scope: params[:scope]), class: 'btn btn-primary btn-sm'

- else

  = (current_profile?(@profile) ? "You haven't" : "#{@profile.nickname} hasn't") + ' listened to any artists during that period.'