.card
  .card-body
    = render 'partials/artists/panel_header'

    %h5
      %i.fas.fa-dot-circle
      Albums:

    .separator.default.my-2

    .row
      - @albums.each do |album|
        .mb-3.text-center.col-6.col-sm-4.col-md-3
          = render 'partials/artists/album', album: album.decorate

    %hr.mb-3

    = pagination
