// Left column

.albumPageLeftColumn
  width: 220px
  position: fixed

.albumPageDimmer
  z-index: 3000 !important
  padding: 2em !important
  .content
    @extend .h100, .flex, .alignItemsCenter
    img
      max-height: 100%

// Right column

.albumPageRightColumn
  margin: 0 0 0 240px

.albumPageMainHeader
  margin-bottom: 10px
  .header
    @extend .margin0

.albumPageDescription
  max-height: 200px
  overflow-y: scroll
