$bandcamp: #629aa9
$vk: #2787F5
$lastfm: #d51007
$soundcloud: #ff5500
$discogs: #333333

$discogsIcon: url("https://www.discogs.com/images/favicon-16x16.png")

// Left column

.albumPageLeftColumn
  @extend .fixed
  width: 210px

.albumPageDimmer
  z-index: 3000 !important
  padding: 2em !important
  .content
    @extend .h100, .flex, .alignItemsCenter
    img
      max-height: 100%

.albumSourceSelect
  margin-bottom: 10px !important

$sources: (lastfm: $lastfm, vk: $vk, bandcamp: $bandcamp, soundcloud: $soundcloud, discogs: $discogs)

@each $source, $color in $sources
  .#{$source}Icon
    color: $color

  .#{$source}Label
    background-color: $color !important
    border-color: $color !important
    color: white !important

i.icon.discogs:before
  content: $discogsIcon

.discogsIcon:before
  content: $discogsIcon

.discogsLabel:before
  content: $discogsIcon
  filter: invert(1)

// Right column

.albumPageRightColumn
  margin-left: 230px

.albumPageMainHeader
  margin-bottom: 10px
  .header
    @extend .margin0
