// Left column

.albumPageLeftColumn
  width: 220px
  position: fixed

.albumPageDimmer
  z-index: 3000 !important
  padding: 2em !important
  .content
    @extend .h100, .flex, .alignItemsCenter
    img
      max-height: 100%

// Labels

.bandcampLabel
  background-color: $bandcamp !important
  border-color: $bandcamp !important
  color: white !important

// Select

.albumSourceSelect > .text
  color: white !important
  font-weight: 400

.bandcampSelect
  @extend .albumSourceSelect, .bandcampLabel

// Right column

.albumPageRightColumn
  margin: 0 0 0 240px

.albumPageMainHeader
  margin-bottom: 10px
  .header
    @extend .margin0
