%h5
  = link_to 'Albums:', search_albums_path(q: params[:q])

.separator.default.my-2

- if @albums.any?
  .row
    - @albums.each do |album|
      .col-6.col-sm-4
        = render 'search/albums/album', album: album.decorate
  .text-right
    = link_to 'View more...', search_albums_path(q: params[:q]), class: 'btn btn-primary btn-sm'
- else
  %h6
    Nothing was found.
