%h5
  = link_to 'Tracks:', search_tracks_path(q: params[:q])

.separator.default.my-2

- if @tracks.any?
  %table.table.table-hover.table-sm
    - @tracks.each do |track|
      = render 'search/tracks/track', track: track.decorate
  .text-right
    = link_to 'View more...', search_tracks_path(q: params[:q]), class: 'btn btn-primary btn-sm'
- else
  %h6
    Nothing was found.
