#search.panel.center
  .panel_header
    %h3 Search for artist

  .separator.sep_0.sep_light

  .search_field.panel_content
    = form_tag search_artist_path, method: :get, remote: true do
      = text_field_tag :q, nil, placeholder: 'Enter artist name...', class: 'form-control'

  .separator.sep_0.sep_light

  #search_results_content.relative

    .search_results_loading{hidden: true}
      = fa_icon 'circle-o-notch spin 2x'
  
    .search_results.panel_content
      - if params[:q].present?
        = render 'artists'

:javascript
  $('.search_field > form').submit(function() {
    $('.search_results_loading').show()
  })