#search.panel.center
  .panel_header
    %h3 Search for track

  .separator.sep_0.sep_light

  .search_field.panel_content
    = form_tag search_tracks_path, method: :get, remote: true, onsubmit: 'showLoading();' do
      = text_field_tag :q, nil, placeholder: 'Enter track title...', class: 'form-control'

  .separator.sep_0.sep_light

  #search_results_content.relative

    .search_results.panel_content
      - if params[:q].present?
        = render 'tracks'
