.card
  = render 'partials/artists/panel_header'

  .separator.light

  .card-body
    %h5 Plays:

    .separator.default.mt-2.mb-2

    %table.table.table-hover.table-sm

      = render partial: 'partials/artists/play', collection: @plays

    .text_center
      = paginate @plays