.card
  .card-body
    = render 'partials/artists/panel_header'

    %h5
      Similar artists:

    .separator.default.mt-2.mb-3

    .row
      - @similar_artists.each do |similar_artist|
        .col-12.col-md-6.col-lg-4
          = render 'partials/artists/similar_artist', similar_artist: similar_artist.decorate

    = pagination
