---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=wild%20nothing&autocorrect=1&format=json&method=track.getInfo&track=chinatown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"track":{"name":"Chinatown","mbid":"9a74b1e7-a7a9-46fc-8ad3-58306fdac86f","url":"https://www.last.fm/music/Wild+Nothing/_/Chinatown","duration":"199000","streamable":{"#text":"0","fulltrack":"0"},"listeners":"189944","playcount":"1099980","artist":{"name":"Wild
        Nothing","mbid":"a181595e-5b84-4439-a5f4-f548ddfb64df","url":"https://www.last.fm/music/Wild+Nothing"},"album":{"artist":"Wild
        Nothing","title":"Gemini","mbid":"98174762-4674-4382-827f-db7248c4806c","url":"https://www.last.fm/music/Wild+Nothing/Gemini","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/c60a738cd2244da9bc2b44b51d643602.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/c60a738cd2244da9bc2b44b51d643602.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/c60a738cd2244da9bc2b44b51d643602.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/c60a738cd2244da9bc2b44b51d643602.png","size":"extralarge"}],"@attr":{"position":"10"}},"toptags":{"tag":[{"name":"dream
        pop","url":"https://www.last.fm/tag/dream+pop"},{"name":"indie","url":"https://www.last.fm/tag/indie"},{"name":"chillwave","url":"https://www.last.fm/tag/chillwave"},{"name":"shoegaze","url":"https://www.last.fm/tag/shoegaze"},{"name":"electronica","url":"https://www.last.fm/tag/electronica"}]}}}'
  recorded_at: Thu, 13 Jun 2019 12:49:38 GMT
recorded_with: VCR 5.0.0
