---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=wild%20nothing&format=json&limit=200&method=artist.getSimilar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"similarartists":{"artist":[{"name":"Craft Spells","mbid":"d3afff73-119e-406e-8551-9403e80c531b","match":"1","url":"https://www.last.fm/music/Craft+Spells","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"mega"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":""}],"streamable":"0"},{"name":"Beach
        Fossils","mbid":"3df3818e-7984-4c62-bee3-81f95f8c6651","match":"0.868099","url":"https://www.last.fm/music/Beach+Fossils","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://las[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Real%20Estate&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IlJlYWwgRXN0YXRlIiwibWJpZCI6IjJmZjBkZmM2LTA1N[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Craft%20Spells&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkNyYWZ0IFNwZWxscyIsIm1iaWQiOiJkM2FmZmY3My0x[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Beach%20Fossils&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkJlYWNoIEZvc3NpbHMiLCJtYmlkIjoiM2RmMzgxOGU[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Washed%20Out&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6Ildhc2hlZCBPdXQiLCJtYmlkIjoiNzRhMzBmMmEtZGFlNi[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Beach%20House&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Beach House","mbid":"d5cc67b8-1cc4-453b-96e8-44487acdebea","url":"https://www.last.fm/music/Beach+House","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"mega"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":""}],"streamable":"0","ontour":"1","stats":{"listeners":"1222070","playcount":"71662915"},"similar":{"artist":[{"name":"Alvvays","url":"https://www.last.fm/music/Alvvays","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size"[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Lower%20Dens&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6Ikxvd2VyIERlbnMiLCJtYmlkIjoiM2RlZTBjYTctOTlhZS[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=The%20Pains%20of%20Being%20Pure%20at%20Heart&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"The Pains of Being Pure at Heart","mbid":"[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Blouse&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkJsb3VzZSIsIm1iaWQiOiJlZmY1Nzk4NC0yY2NkLTRjOGUtYTI1[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Small%20Black&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Small Black","mbid":"94c9f694-21b6-4b24-9722-4ea18f75f8e1","url":"https:/[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=DIIV&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"DIIV","mbid":"b5ff61dd-0154-4e80-b46b-c733f87db602","url":"https://www.last.fm/mus[...]
- request:
    method: get
    uri: https://www.last.fm/music/Blouse/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Content-Language:
      - en
      X-Pjax-Url:
      - https://www.last.fm/music/Blouse/+images?page=1
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAAwAAAP//rFdtb9s2EP6eXyHzgyHBtBZv69bZYbqudbsCbZOlTdfBMApGoiymMqmRlB3D8X/fkZRkO3bbDZi/mC/3fvccTycnJydnnVQmZlWyIDfz4vzkzP6dBPArqJgRxARyu6SgWhO/tj8h+7e63ZUFXd1Q1Z9TbXJG075iBaOa9XXO5y3VSlamumH9UskFT5nqC2mAkqYrR4JOzt3/mZVw3nKdzZmhQZJTpZkhqDJZ/zF6eJ0bU/bZ3xVfEPSxf/20/0zOS2r4TcFQkEhhmADeV2PC0hlD52c6Ubw0gXWcIMPuzHe3dEH9KToPl1ykchm/vRpfv7m/D90/WW+iKC4kBcs/gciMz8j6ruTpEF0v/7r8MHj0x8vl[...]
- request:
    method: get
    uri: https://www.last.fm/music/Beach+Fossils/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Content-Language:
      - en
      X-Pjax-Url:
      - https://www.last.fm/music/Beach+Fossils/+images?page=1
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAAwAAAP//rFdtb9s2EP6eXy[...]
- request:
    method: get
    uri: https://www.last.fm/music/Beach+House/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Pjax-Url:
      - https://www.last.fm/music/Beach+House/+images?page=1
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAAwAAAP//rFdtb9s2EP6eXyHzgy[...]
- request:
    method: get
    uri: https://www.last.fm/music/The+Pains+of+Being+Pure+at+Heart/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Content-Language:
      - en
      X-Pjax-Url:
      - https://www.last.fm/music/The+Pains+of+Being+Pure+at+Heart/+images?page=1
    body:
      encoding: ASCII-8BIT
      string: !binary |-
    [...]
- request:
    method: get
    uri: https://www.last.fm/music/Washed+Out/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Content-Language:
      - en
      X-Pjax-Url:
      - https://www.last.fm/music/Washed+Out/+images?page=1
      X-Akamai-Transformed:
      - 9 19358 0 pmb=mRUM,1
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAA+292ZLjSLYY+J5fgYRGWaQCIAnuZAQibm5Vld25dUZmLR0VE+YAHCQqQIANgLFURphdmR70AWM2epHJ9CLJJJsZs3nTjM28TP/Avb8gk92Zz5hz3B07CDJyqarIDnZ1Bhb348vZjx933Lt3797efcs3o8sllebRwt2/t4d/7knwc4k302XqyezOdEkY6vwaf56v/hwmd0uXXBokUBckjOaUWGpAXUpCqoZzZ5GUuvRX0cqg6jLwzxyLBqrnR1CSWJesiHxvn/3dQwj7Sa29BY2IZM5JENJIl1eRrY7l4ut5FC1V+peVc6bLP6jvHqqP/cWSRI7hUlkyfS+iHtR99lSn1ozK+3uhGTjLSMKB63JEL6L2z+SM8KfyfuPc8Sz/vPXy[...]
- request:
    method: get
    uri: https://www.last.fm/music/Real+Estate/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Pjax-Url:
      - https://www.last.fm/music/Real+Estate/+images?page=1
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAAwAAAP//rFdtb9s2EP6eXyHzgy[...]
- request:
    method: get
    uri: https://www.last.fm/music/Craft+Spells/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Content-Language:
      - en
      X-Pjax-Url:
      - https://www.last.fm/music/Craft+Spells/+images?page=1
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAAwAAAP//rFdtb9s2EP6eXyHz[...]
- request:
    method: get
    uri: https://www.last.fm/music/Small+Black/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Content-Language:
      - en
      X-Pjax-Url:
      - https://www.last.fm/music/Small+Black/+images?page=1
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAAwAAAP//rFdtb9s2EP6eXyHzgy[...]
- request:
    method: get
    uri: https://www.last.fm/music/Lower+Dens/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Pjax-Url:
      - https://www.last.fm/music/Lower+Dens/+images?page=1
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAAwAAAP//rFdtb9s2EP6eXyHzgyHB[...]
- request:
    method: get
    uri: https://www.last.fm/music/DIIV/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Pjax-Url:
      - https://www.last.fm/music/DIIV/+images?page=1
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAAwAAAP//rFdtb9s2EP6eXyHzgyHBtBZv69bZYbqu[...]
