---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=elkvmw%5Biepohjwp&format=json&limit=20&method=artist.search&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"elkvmw[iepohjwp","startPage":"1"},"opensearch:totalResults":"0","opensearch:startIndex":"0","opensearch:itemsPerPage":"20","artistmatches":{"artist":[]},"@attr":{"for":"elkvmw[iepohjwp"}}}'
  recorded_at: Thu, 30 May 2019 07:31:54 GMT
recorded_with: VCR 5.0.0
