---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album&api_key=146fa01985acd46b23f4e6c5f660f199&artist=Molly%20Nilsson&format=json&method=artist.getTopTags&track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"toptags":{"tag":[{"count":100,"name":"synthpop","url":"https://www.last.fm/tag/synthpop"},{"count":44,"name":"seen
        live","url":"https://www.last.fm/tag/seen+live"},{"count":40,"name":"minimal
        synth","url":"https://www.last.fm/tag/minimal+synth"},{"count":40,"name":"female
        vocalists","url":"https://www.last.fm/tag/female+vocalists"},{"count":38,"name":"Avant-Garde","url":"https://www.last.fm/tag/Avant-Garde"},{"count":30,"name":"swedish","url":"https://www.last.fm/tag/swedish"},{"count":15,"name":"post-rock","url":"https://ww[...]
