---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=wild%20not&format=json&limit=6&method=artist.search&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"wild
        not","startPage":"1"},"opensearch:totalResults":"307","opensearch:startIndex":"0","opensearch:itemsPerPage":"6","artistmatches":{"artist":[{"name":"Wild
        Nothing","listeners":"499550","mbid":"a181595e-5b84-4439-a5f4-f548ddfb64df","url":"https://www.last.fm/music/Wild+Nothing","streamable":"0","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"mega"}]},{"name":"Wild_Nothing","listeners":"736","mbid":"",[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&format=json&limit=10&method=track.search&page=1&track=wild%20not
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","startPage":"1"},"opensearch:totalResults":"7014","opensearch:startIndex":"0","opensearch:itemsPerPage":"10","trackmatches":{"track":[{"name":"Nocturne","artist":"Wild
        Nothing","url":"https://www.last.fm/music/Wild+Nothing/_/Nocturne","streamable":"FIXME","listeners":"123250","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://l[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=wild%20not&api_key=146fa01985acd46b23f4e6c5f660f199&format=json&limit=6&method=album.search&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"wild
        not","startPage":"1"},"opensearch:totalResults":"6619","opensearch:startIndex":"0","opensearch:itemsPerPage":"6","albummatches":{"album":[{"name":"Nocturne","artist":"Wild
        Nothing","url":"https://www.last.fm/music/Wild+Nothing/Nocturne","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/3601d7b9f23e43aea6f9fa002672c6eb.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/3601d7b9f23e43aea6f9fa002672c6eb.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/3601d7b9f23e43aea6f9fa002672c6eb.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/3601d7b[...]
