---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&format=json&limit=10&method=track.search&page=1&track=elkvmw%5Biepohjwp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","startPage":"1"},"opensearch:totalResults":"0","opensearch:startIndex":"0","opensearch:itemsPerPage":"10","trackmatches":{"track":[]},"@attr":{}}}'
  recorded_at: Thu, 30 May 2019 07:31:55 GMT
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=elkvmw%5Biepohjwp&format=json&limit=6&method=artist.search&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"elkvmw[iepohjwp","startPage":"1"},"opensearch:totalResults":"0","opensearch:startIndex":"0","opensearch:itemsPerPage":"6","artistmatches":{"artist":[]},"@attr":{"for":"elkvmw[iepohjwp"}}}'
  recorded_at: Thu, 30 May 2019 07:31:55 GMT
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=elkvmw%5Biepohjwp&api_key=146fa01985acd46b23f4e6c5f660f199&format=json&limit=6&method=album.search&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"elkvmw[iepohjwp","startPage":"1"},"opensearch:totalResults":"0","opensearch:startIndex":"0","opensearch:itemsPerPage":"6","albummatches":{"album":[]},"@attr":{"for":"elkvmw[iepohjwp"}}}'
  recorded_at: Thu, 30 May 2019 07:31:55 GMT
recorded_with: VCR 5.0.0
