---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&format=json&limit=10&method=track.search&page=1&track=only%20heather
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","startPage":"1"},"opensearch:totalResults":"590","opensearch:startIndex":"0","opensearch:itemsPerPage":"10","trackmatches":{"track":[{"name":"Only
        Heather","artist":"Wild Nothing","url":"https://www.last.fm/music/Wild+Nothing/_/Only+Heather","streamable":"FIXME","listeners":"99926","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"mbid":"701993c0-554f-4b8a-b2a1-bf27d560a349"},{"name":"Not
        Only Human","artist":"Heather Nova","url":"https://www.last.fm/music/Heather+Nova/_/Not+Only+Human","streamable":"FIXME","listeners":"26067","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b8[...]
