---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Wild%20Nothing&format=json&limit=200&method=artist.getSimilar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"similarartists":{"artist":[{"name":"Craft Spells","mbid":"d3afff73-119e-406e-8551-9403e80c531b","match":"1","url":"https://www.last.fm/music/Craft+Spells","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"mega"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":""}],"streamable":"0"},{"name":"Beach
        Fossils","mbid":"3df3818e-7984-4c62-bee3-81f95f8c6651","match":"0.868099","url":"https://www.last.fm/music/Beach+Fossils","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://las[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Heavenly%20Beat&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkhlYXZlbmx5IEJlYXQiLCJtYmlkIjoiMjliOGY5M2Y[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Toro%20y%20Moi&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Toro y Moi","mbid":"3a6d6481-142d-423f-91d4-55bbfff318ed","url":"https://www.last.fm/music/Toro+y+Moi","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"mega"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":""}],"streamable":"0","ontour":"1","stats":{"listeners":"670129","playcount":"27693086"},"similar":{"artist":[{"name":"Washed
        Out","url":"https://www.last.fm/music/Washed+Out","image":[{"#text":"https://lastfm-img2.akamaized.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm-img2.akamaized.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm-img2.akamaized.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm-img2.akamaized.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b82156[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Minks&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6Ik1pbmtzIiwibWJpZCI6IjYzMGEyYTY5LWU3MjctNDdjYS04NGY1L[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Small%20Black&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Small Black","mbid":"94c9f694-21b6-4b24-9722-4ea18f75f8e1","url":"https:/[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Beach%20Fossils&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkJlYWNoIEZvc3NpbHMiLCJtYmlkIjoiM2RmMzgxOGU[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Ride&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IlJpZGUiLCJtYmlkIjoiM2Y1NzVlY2QtNjI3ZC00ZjA4LWE4OWYtYW[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Porcelain%20Raft&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Porcelain Raft","mbid":"259380ed-4705-495d-9484-90ff43f8a162","url":"h[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Blouse&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkJsb3VzZSIsIm1iaWQiOiJlZmY1Nzk4NC0yY2NkLTRjOGUtYTI1[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=TOPS&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IlRPUFMiLCJtYmlkIjoiZTE0NTU0ZjktYjhlMC00MjIzLTk4NDMtOW[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=The%20Bilinda%20Butchers&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"The Bilinda Butchers","mbid":"6254b4d5-3328-443d-a0bf-2bba9c0b[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Tamaryn&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IlRhbWFyeW4iLCJtYmlkIjoiZWMwYjVkYTktYzAyMy00NWI3LWI[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Galaxie%20500&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkdhbGF4aWUgNTAwIiwibWJpZCI6IjhkZGMxODEyLTJjZ[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Slowdive&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IlNsb3dkaXZlIiwibWJpZCI6ImExNjM3MWI5LTdkMzYtNDk3YS[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Japanese%20Breakfast&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkphcGFuZXNlIEJyZWFrZmFzdCIsInVybCI6Im[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Washed%20Out&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6Ildhc2hlZCBPdXQiLCJtYmlkIjoiNzRhMzBmMmEtZGFlNi[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Hibou&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkhpYm91IiwibWJpZCI6ImFmNjYxYWIwLTY4NjYtNGNmMC1hOGUyL[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=The%20Pains%20of%20Being%20Pure%20at%20Heart&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"The Pains of Being Pure at Heart","mbid":"[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Atlas%20Sound&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Atlas Sound","mbid":"1a02453e-5f86-4220-abd6-1d889d2fa517","url":"https:/[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Day%20Wave&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Day Wave","url":"https://www.last.fm/music/Day+Wave","image":[{"#text":"http[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Chapterhouse&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Chapterhouse","mbid":"c95d5fb3-03d4-4b5e-93da-a57bd7e26db0","url":"https:/[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=No%20Joy&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6Ik5vIEpveSIsIm1iaWQiOiIxNjY3ZTkyYy04NGE0LTQ1NWItOD[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Lower%20Dens&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6Ikxvd2VyIERlbnMiLCJtYmlkIjoiM2RlZTBjYTctOTlhZS[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=The%20Radio%20Dept.&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IlRoZSBSYWRpbyBEZXB0LiIsIm1iaWQiOiJlNjY[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Youth%20Lagoon&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IllvdXRoIExhZ29vbiIsIm1iaWQiOiI0YTE4NzIyZC01[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Whirr&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IldoaXJyIiwibWJpZCI6IjM0NzRhMTNmLTg5OWYtNDBlYy05ZDVjL[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Drop%20Nineteens&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Drop Nineteens","mbid":"266f5184-d8ab-40c3-9af2-b0c615b37b53","url":"h[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Lotus%20Plaza&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Lotus Plaza","mbid":"53e4ba89-ba63-4d12-b7c4-3198a2b003b4","url":"https:/[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Frankie%20Rose&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Frankie Rose","mbid":"3522e1ec-0b52-47c3-a13e-17ac5db91e9e","url":"https[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Melody%27s%20Echo%20Chamber&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6Ik1lbG9keSdzIEVjaG8gQ2hhbWJlciI[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Memoryhouse&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Memoryhouse","mbid":"86e511e5-74b7-49bc-b282-5947358541cb","url":"https://w[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=DIIV&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"DIIV","mbid":"b5ff61dd-0154-4e80-b46b-c733f87db602","url":"https://www.last.fm/mus[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Mr%20Twin%20Sister&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Mr Twin Sister","url":"https://www.last.fm/music/Mr+Twin+Sister","im[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Beach%20House&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Beach House","mbid":"d5cc67b8-1cc4-453b-96e8-44487acdebea","url":"https:/[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Yuck&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Yuck","mbid":"9929a375-ccf4-4b8c-9b13-0026393fcb84","url":"https://www.last.fm/mus[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Alvvays&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Alvvays","mbid":"99450990-b24e-4132-bb68-235f8c3e2564","url":"https://www.last.[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=A%20Sunny%20Day%20In%20Glasgow&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"A Sunny Day In Glasgow","mbid":"73571028-9318-4090-ab36-[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Craft%20Spells&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkNyYWZ0IFNwZWxscyIsIm1iaWQiOiJkM2FmZmY3My0x[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Airiel&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Airiel","mbid":"a6bf1276-9150-40fc-a94e-6b14f377fe3d","url":"https://www.last.fm[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Twin%20Shadow&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Twin Shadow","mbid":"8d831383-b22b-4237-8059-12bee111e4b6","url":"https:/[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Teen%20Daze&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Teen Daze","mbid":"6ae38268-01a7-413b-8827-80dab10794c9","url":"https://www[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=My%20Bloody%20Valentine&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Nncoection:
      - close
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6Ik15IEJsb29keSBWYWxlbnRpbmUiLCJtYmlkIjoiOGNhMDFmNDYtNTNhYy00YWYyLTg1MTYtNTVhOTA5YzA5MDVlIiwidXJsIjoiaHR0cHM6Ly93d3cubGFzdC5mbS9tdXNpYy9NeStCbG9vZHkrVmFsZW50aW5lIiwiaW1hZ2UiOlt7IiN0ZXh0IjoiaHR0cHM6Ly9sYXN0Zm0taW1nMi5ha2FtYWl6ZWQubmV0L2kvdS8zNHMvMmE5NmNiZDhiNDZlNDQyZmM0MWMyYjg2YjgyMTU2MmYucG5nIiwic2l6ZSI6InNtYWxsIn0seyIjdGV4dCI6Imh0dHBzOi8vbGFzdGZtLWltZzIuYWthbWFpemVkLm5ldC9pL3UvNjRzLzJhOTZ[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Ringo%20Deathstarr&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Ringo Deathstarr","mbid":"921aeac9-1512-4566-b2f8-c8536e6ada9e","url[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Deerhunter&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkRlZXJodW50ZXIiLCJtYmlkIjoiNGY0MTZlZDctZGRhMi00[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Real%20Estate&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IlJlYWwgRXN0YXRlIiwibWJpZCI6IjJmZjBkZmM2LTA1N[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Pinkshinyultrablast&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IlBpbmtzaGlueXVsdHJhYmxhc3QiLCJtYmlkIjo[...]
- request:
    method: get
    uri: https://www.last.fm/music/Heavenly+Beat/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Content-Language:
      - en
      X-Pjax-Url:
      - https://www.last.fm/music/Heavenly+Beat/+images?page=1
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sIAAAAAAAAAwAAAP//rFdtb9s2EP6eXyHzgyHBtBZv69bZYbqudbsCbZOlTdfBMApGoiymMqmRlB3D8X/fkZRkO3bbDZi/mC/3fvccTycnJydnnVQmZlWyIDfz4vzkzP6dBPArqJgRxARyu6SgWhO/tj8h+7e63ZUFXd1Q1Z9TbXJG075iBaOa9XXO5y3VSlamumH9UskFT5nqC2mAkqYrR4JOzt3/mZVw3nKdzZmhQZJTpZkhqDJZ/zF6eJ0bU/bZ3xVfEPSxf/20/0zOS2r4TcFQkEhhmADeV2PC0hlD52c6Ubw0gXWcIMPuzHe3dEH9KToPl1ykchm/vRpfv7m/D90/WW+iKC4kBcs/gciMz8j6ruTpEF0v/7r8M[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Widowspeak&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Widowspeak","mbid":"ef9d28db-a1b7-4957-aa79-ed289a77ce10","url":"https://www[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Still%20Corners&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"artist":{"name":"Still Corners","mbid":"ea5493df-b8d9-4c89-bd5b-6c4aeba7a0ac","url":"htt[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=Asobi%20Seksu&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhcnRpc3QiOnsibmFtZSI6IkFzb2JpIFNla3N1IiwibWJpZCI6ImNjNDMzYTc3LTE3N[...]
- request:
    method: get
    uri: https://www.last.fm/music/Blouse/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Content-Language:
      - en
      X-Pjax-Url:
      - https://www.last.fm/music/Blouse/+images?page=1
      Location:
      - https://www.last.fm/music/Blouse/+images?page=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 27 Jun 2019 11:16:15 GMT
- request:
    method: get
    uri: https://www.last.fm/music/Tamaryn/+images?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Content-Language:
      - en
      Location:
      - https://www.last.fm/music/Tamaryn/+images?page=1
      X-Pjax-Url:
      - https://www.last.fm/music/Tamaryn/+images?page=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 27 Jun 2019 11:16:15 GMT
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=146fa01985acd46b23f4e6c5f660f199&artist=The%20Drums&autocorrect=1&format=json&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
[...]
