#library_plays_panel.panel.library_page.center
  
  = render 'profiles/library/main/partials/panel_header'

  .separator.sep_0.sep_light

  #library_plays_panel_content.panel_content

    %h4 Plays:

    .separator.sep_10.sep_default

    = render partial: 'profiles/library/main/partials/plays'

    %hr.sep_20

    .text_center
      = paginate @plays