%tr
  %td.search_entry

    .media-left.mid_align

      .playlist_add_button.no_padding
        = button_to playlist_add_profile_track_path(profile_track_id: track.id), class: 'btn btn-primary btn-sm playlist_add_btn', remote: true do
          %i.fas.fa-angle-double-left

      = image_tag track.artist_image, class: 'img_rnd img_30'

    .media-body.mid_align

      %h5
        %strong
          = link_to track.title, library_artist_track_path(id: current_profile.id, name: track.artist_name, title: track.title)
      %h5
        = link_to track.name, library_artist_path(id: current_profile.id, name: track.artist_name)
