.panel_header

  .inline
    %h3
      %i.fas.fa-tag
      = @tag.name

  .inline.pull-right
    .media-left
      %h4
        = link_to "#{@profile.nickname} | Tags", library_tags_path
    .media-right
      = image_tag @profile.avatar.url(:xs), class: 'img_rnd'