- if @tracks.any?

  %table.table.table-hover.table-condensed
    = render partial: 'playlists/track', collection: @tracks

  .text_center.mg_top_10
    = paginate @tracks

- else

  This playlist is empty.
    