#playlists_modal.modal.fade
  .modal-dialog
    .modal-content

      .modal-header

        %h4
          Add track to playlists:

      #playlists_modal_content

        = render 'muffon/modals/playlists/content'
