.card
  .card-body
    %h4
      %i.fas.fa-comments
      Conversations

    .separator.default.my-3

    - if @conversations.any?
      %table.table.table-hover
        = render partial: 'conversation', collection: @conversations
    - else
      There are no conversations.
