= button_to play_path(artist: track.artist.artist_name, track: track.track_title), remote: true, class: 'btn btn-primary btn-sm play_btn', method: :get, onclick: 'loadTrack(this)' do
  = fa_icon 'play'
