#playing_now{data: {turbolinks: {permanent: true}}, hidden: true}
  .panel_content
    = button_tag onclick: 'hidePlayingNow();', class: 'inv_btn pull-right' do
      %i.fas.fa-times
      Close

    %h4 Playing now:

    .separator.sep_10.sep_default

    #playing_now_track
      
      = render 'player/playing_now_track'

  %hr.sep_0

  .panel_content

    = button_to clear_queue_path, class: 'inv_btn pull-right', method: :delete, remote: true do
      %i.fas.fa-times
      Clear

    %h4 In queue:

    .separator.sep_10.sep_default

    #enqueued_tracks

      = render 'player/enqueued_tracks'
