#add_to_library.full_height
  = button_to add_to_library_path(artist_id: artist.id), data: {toggle: 'tooltip', placement: 'bottom'}, title: "Add to library", remote: true, class: 'inv_btn library_artist_btn artist_action_btn' do
    %i.fas.fa-music
