#show_in_library.full_height
  = link_to library_artist_path(id: current_profile.id, name: artist.artist_name), data: {toggle: 'tooltip', placement: 'bottom'}, title: "In your library", class: 'library_artist_btn artist_action_btn' do
    %i.fas.fa-music
