- if current_profile.active_relationships.find_by(following_id: profile_id)
  = button_to unfollow_path(profile_id: profile_id), class: 'btn btn-light btn-sm', method: :delete, remote: true do
    %i.fas.fa-user-times
    Unfollow
- else
  = button_to follow_path(profile_id: profile_id), class: 'btn btn-primary btn-sm', method: :post, remote: true do
    %i.fas.fa-user-plus
    Follow
