- if current_profile.active_relationships.find_by(followed_id: profile)

  = button_to unfollow_path(followed_id: profile), class: 'btn btn-default btn-sm', method: :get, remote: true do
    %i.fas.fa-user-times
    Unfollow

- else

  = button_to follow_path(followed_id: profile), class: 'btn btn-primary btn-sm', method: :get, remote: true do
    %i.fas.fa-user-plus
    Follow
