.up.media
  = image_tag @profile.avatar.url(:sm)
  .media-body
    = link_to @profile.nickname, @profile

.up.media
  .media-body
    = link_to profiles_library_path do
      %i.fas.fa-headphones
      Library
