- if params[:action] == 'index'

  .up
    .media-right
      = link_to 'Profiles', profiles_path

- elsif params[:action] == 'show'

  .up
    .media
      = link_to image_tag(@profile.avatar.url(:sm)), profile_path
      .media-right
        = link_to "#{@profile.nickname}'s profile", profile_path
