.container-fluid.position-fixed.bottom-0.z-100
  .row.no-gutters
    #progress-bar.card.p-3.col-12.col-md-10.offset-md-1.col-xl-8.offset-xl-2.border-0{data: {turbolinks: {permanent: true}}}
      .progress
        #job-progress.progress-bar
      #job-process.d-inline
      #job-counter.d-inline
