.d-flex.justify-content-between.align-items-center
  %h5.mb-0
    Top albums:
  #albums-scope.d-flex.align-items-center
    .mr-2
      = render 'partials/profiles/library/scope/library', collection: 'albums'
    #albums-scope-save-btn
      = render 'partials/profiles/library/scope/save_btn', collection: 'albums'

.separator.default.my-2

- if @albums.any?
  .row
    - @albums.each do |album|
      .col-6.col-sm-4.col-lg-3.mb-2
        = render 'partials/profiles/library/instances/album', album: album
  .text-right
    = link_to 'View more...', profiles_library_albums_path(scope: params[:scope]), class: 'btn btn-primary btn-sm'
- else
  There are no albums.
