%h5
  = "New tracks (#{@profile.tracks_count}):"

.separator.default.my-2

- if @tracks[:new].any?
  %table.table.table-hover.table-sm
    = render partial: 'partials/profiles/library/instances/new_track', collection: @tracks[:new]
  .text-right
    = link_to 'View more...', profiles_library_tracks_path(order: 2), class: 'btn btn-primary btn-sm'
- else
  There are no tracks.
