@import './Global.sass'

html
  scroll-behavior: smooth

a
  outline: none
a:not(.label):not(.item)
  color: initial !important
  &:hover
    @extend .colorBase

@media only screen and (max-width: 767px)
  .ui.container
    margin: 0 2em !important
@media only screen and (min-width: 768px)
  .ui.container
    width: 700px !important

#background
  @extend .fixed, .w100, .h100
  background: url('/dist/images/background.jpg') center/cover no-repeat

#mainMenu
  @extend .noBorder
  z-index: 1500 !important
  height: 40px

#mainContainer
  padding: 60px 0 90px 0
