@media only screen and (max-width: 767px) {
  .ui.container {
    margin: 0 2em !important;
  }
}

@media only screen and (min-width: 768px) {
  .ui.container {
    width: 700px !important;
  }
}

html {
  scroll-behavior: smooth;
}
#background {
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url('../../dist/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed {
  position: fixed !important;
}
.w100 {
  width: 100% !important;
}

.mainContainer {
  padding-top: 60px;
}
.mainMenu {
  z-index: 1500 !important;
  border: none !important;
}

.ui.dimmer .content,
.ui.dimmer img {
  max-height: 100%;
}

.globalSearch {
  z-index: 2000 !important;
}
.globalSearch > .content {
  height: calc(100% - 80px);
  width: 500px;
  text-align: left;
}
.globalSearchResultsWrap {
  height: calc(100% - 72px);
  padding-top: 0 !important;
}
.globalSearchResultsWrap > div {
  height: 100% !important;
}
.globalSearchTabWrap {
  height: calc(100% - 54px);
  overflow-y: scroll;
  border: none !important;
  padding: 0 !important;
}
.globalSearchTabPagination button {
  margin: 0.5em !important;
}
.globalSearchItemImage {
  width: 50px !important;
  height: 50px !important;
}
.globalSearchItemContent {
  width: calc(100% - 50px) !important;
  word-break: break-all;
}
.globalSearchItemIcon {
  padding: 0 !important;
}
.globalSearchItemIcon button {
  margin: 0 !important;
}

.artistPageArtistName {
  margin-bottom: 10px !important;
}
.artistPageLeftColumn {
  height: 100%;
  display: inline-block;
  position: fixed;
  width: 200px;
}
.artistPageRightColumn {
  display: inline-block;
  width: 480px;
  float: right;
}
.artistPageLeftColumnName {
  margin-top: 10px !important;
}
.artistPageLeftColumnName.hidden {
  display: block;
}
.artistPageDescription {
  max-height: 175px;
  overflow-y: scroll;
}
.artistPageSegment {
  min-height: 100px;
}
.artistPageTrackCounter .inner {
  display: inline-block;
  vertical-align: middle;
}
.artistPageTrackCounter .trackLine {
  background: #e0e1e2;
  height: 5px;
  margin-right: 0.5em;
}
.artistPagePaginationWrap {
  width: 100%;
  text-align: center;
}
.artistPageAlbumCover {
  padding-bottom: 100% !important;
}
.artistPageAlbumCover img {
  position: absolute;
}
.artistPagePicture {
  height: 200px;
  width: 200px;
}
.artistPagePictureDimmer {
  z-index: 2000 !important;
}
.artistPageLeftColumnMenu {
  width: 100% !important;
  border-width: 0 2px 0 0 !important;
}
.artistPageSegmentWrap {
  margin-bottom: 20px;
}
