#groups.panel.center
  .panel_header
    %h3.inline  
      %i.fas.fa-users
      Groups
    .inline.pull-right
      = link_to new_group_path, class: 'btn btn-primary' do
        %i.fas.fa-plus
        Create a group

  .separator.sep_0.sep_light
  
  .panel_content

    - if @groups.any?

      %table.table.table-hover-table-condensed
        = render @groups

    - else
      There are no groups yet.