@import 'styles/Base.sass'

.albumPage
  min-height: calc(100vh - 150px)

// Left column

.albumPageLeftColumn
  width: 220px
  position: fixed

.albumPageAlbumCover
  margin-bottom: 0.5em

.albumPageLeftColumnText
  @extend .margin0
.albumPageLeftColumnText.hidden
  display: block !important

// Dimmer

.albumCoverDimmer
  z-index: 3000 !important
  padding: 2em !important
  .content
    @extend .h100, .flex
    align-items: center
    img
      max-height: 100%

// Right column

.albumPageRightColumn
  margin: 0 0 0 240px

.albumPageHeader
  margin-bottom: 10px
  .header
    @extend .margin0

.albumPageDescription
  max-height: 200px
  overflow-y: scroll
