.up
  = link_to @profile do
    = image_tag @profile.avatar.url(:sm)

.up
  = link_to profiles_library_path do
    %h6
      %i.fas.fa-headphones
      Library

.up
  = link_to profiles_library_tracks_path do
    %h6
      %i.fas.fa-music
      Tracks
