.bookmarks_page.center.panel
  .panel_header
    %h3 Bookmarks

  .separator.sep_0.sep_light

  .bookmarks.panel_content
    - if @page_data[:bookmarks].any?
      = render partial: 'artist_bookmark', collection: @page_data[:bookmarks]
    - else
      You haven't made any bookmarks yet.