.card-body
  = link_to artist_path(artist_name: @artist.name) do
    .media.align-items-center
      .mr-2
        = image_tag @artist.image, class: 'rounded-circle img-sm'
      .media-body
        %h4.mb-0
          = @artist.name 
