%h5
  Top albums:

.separator.default.my-2

.row
  - artist.top_albums.each do |album|
    .mb-3.text-center.col-6.col-sm-4.col-md-3.col-lg-6
      = render 'partials/artists/album', album: album.decorate

.text-right
  = link_to 'View more...', artists_albums_path(artist_name: artist.name), class: 'btn btn-primary btn-sm'

