@import '../Base.sass'

$imageBorder: 1px solid rgba(34, 36, 38, 0.1) !important

.artistPageArtistName
  margin-bottom: 10px !important

.artistPageLeftColumn
  @extend .fixed, .h100, .inlineBlock
  width: 200px

.artistPageRightColumn
  @extend .inlineBlock
  width: 480px
  float: right

.artistPageLeftColumnName
  margin-top: 10px !important
.artistPageLeftColumnName.hidden
  display: block !important

.artistPageDescription
  max-height: 175px
  overflow-y: scroll

.artistPageSegmentWrap
  margin-bottom: 20px !important
  .artistPageSegment
    min-height: 100px

.artistPageTrackCounter
  .inner
    @extend .inlineBlock, .midAlign
  .trackLine
    background: $semanticGray
    height: 4px
    border-radius: 2px
    margin-right: 0.5em

.artistPagePaginationWrap
  text-align: center

.artistPageImage
  padding-bottom: 100% !important
  img
    @extend .absolute

.artistPageArtistPicture
  @extend .relative, .artistPageImage

.artistPagePictureDimmer
  z-index: 3000 !important

.artistPageLeftColumnMenu
  @extend .w100
  border-width: 0 2px 0 0 !important

.artistPageCard
  box-shadow: none !important
  text-align: center
  .header
    margin: 5px 0 !important
  .content
    padding: 0 !important
    border: none !important

.artistPageAlbumCard
  @extend .artistPageCard
  .artistPageAlbumCover
    @extend .artistPageImage
    img
      border: $imageBorder

.artistPageSimilarCard
  @extend .artistPageCard
  .artistPageArtistPicture img
    border: $imageBorder

