.card
  %ul.nav.nav-fill
    %li.nav-item
      = link_to 'Log in', '#login', class: 'nav-link active', data: { toggle: 'tab' }
    %li.nav-item
      = link_to 'Sign up', '#signup', class: 'nav-link', data: { toggle: 'tab' }
  .card-body.tab-content
    #login.tab-pane.in.active
      = render 'partials/sessions/login_form'
    #signup.tab-pane
      = render 'partials/registrations/signup_btns'
