#new-playlist-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title
          New playlist
      = form_for @new_playlist, url: profiles_playlists_path, remote: true do |f|
        .modal-body.row
          .col-2
            = f.label :name, 'Name:'
          .col-10
            = f.text_field :name, class: 'input-transp', required: true, autofocus: true
        .modal-footer
          = f.submit 'Save', class: 'btn btn-light'
