#conversations.panel.center

  .panel_header

    %h3 
      %i.fas.fa-comments
      Conversations

  .separator.sep_0.sep_light

  .panel_content

    - if @conversations.any?

      %table.table
        = render @conversations

    - else

      You don't have any conversations yet.
