.separator.my-2

- if @album.description.present?
  = @album.description.truncate_words(50)
  = link_to 'Read more...', artists_albums_wiki_path, class: 'text-muted'
- else
  .text-muted
    No description.
