.mobile-centered.mb-2
  = image_tag 'lastfm_icon.ico', class: 'icon-xs mr-2'
  %h6
    %i.fas.fa-user.mr-2
  %h5.mr-3
    = number_with_delimiter(@album.lastfm_listeners_count)
  %h6
    %i.fas.fa-play.mr-2
  %h5
    = number_with_delimiter(@album.lastfm_plays_count)
