- if @album.tag_ids.any?
  .mobile-centered
    %i.fas.fa-tag.mr-2
    - @album.tags.first(5).pluck(:name).each do |tag_name|
      = link_to tag_path(tag_name), class: 'tag m-0 mr-1' do
        = tag_name
    = link_to 'More tags...', artists_albums_tags_path, class: 'btn btn-sm btn-link text-white'
