- if @album.track_ids.any?
  %table.table-hover.table-sm
    - @album.tracks.each_with_index do |track, index|
      = render 'track', track: track.decorate, index: index
- else
  .text-muted
    No tracks.
