@import 'styles/Base.sass'

.similarTableItem
  @extend .flex
  margin-bottom: 20px

.similarTableItemImage
  width: 175px
  margin-right: 1em
  img
    border: 1px solid $semanticGray

.similarTableItemContent
  @extend .margin0
  width: calc(100% - 175px - 1em)

.similarTableItemArtistName
  margin-bottom: 5px !important
