@import 'styles/Base.sass'

.similarPageItem
  @extend .flex
  margin-bottom: 20px

.similarPageItemImage
  width: 150px
  margin-right: 1em
  img
    border: 1px solid $semanticGray

.similarPageItemContent
  @extend .margin0
  width: calc(100% - 150px - 1em)

.similarPageItemArtistName
  margin-bottom: 5px !important

.similarPageItemImage:hover ~
  .similarPageItemContent
    .similarPageItemArtistName a
      color: $muffonBase !important
