#bookmark_artist.full_height
  = button_to add_to_bookmarks_path(is: 'artist', artist_id: artist.id), method: :post, remote: true, data: {toggle: 'tooltip', placement: 'bottom'}, title: "Add to bookmarks", class: 'inv_btn bookmark_artist_btn artist_action_btn' do
    %i.fas.fa-bookmark
