#unbookmark_artist.full_height
  = button_to delete_from_bookmarks_path(artist_id: artist.id), method: :delete, remote: true, data: {toggle: 'tooltip', placement: 'bottom'}, title: "Bookmarked", class: 'inv_btn_no_hover bookmark_artist_btn artist_action_btn' do
    %i.fas.fa-bookmark
