Order:
- if params[:order]
	- if params[:order] == '1'
		most played
	- if params[:order] == '2'
		least played
	- if params[:order] == '3'
		newest
	- if params[:order] == '4'
		oldest
- else
	most played
.caret