#library_track_plays_panel.panel.library_page.center
	= render 'panel_header'
	#library_track_plays.panel_content
		%table.table.table-hover.table-condensed
			= render partial: 'profile_play', collection: @plays
		= will_paginate @plays if @plays.count > 20