.up
  = link_to bookmarks_path do
    %h6
      %i.fas.fa-bookmark
      Bookmarks

- if params[:action] == 'artists'
  .up
    = link_to bookmarks_artists_path do
      %h6
        %i.fas.fa-user
        Artists
- elsif params[:action] == 'albums'
  .up
    = link_to bookmarks_albums_path do
      %h6
        %i.fas.fa-dot-circle
        Albums
- elsif params[:action] == 'tracks'
  .up
    = link_to bookmarks_tracks_path do
      %h6
        %i.fas.fa-music
        Tracks
