.up.media
  .media-body
    %i.fas.fa-comments
    = link_to 'Conversations', conversations_path

- if params[:action] == 'show'
  .up.media
    - if @other_member.present?
      = image_tag @other_member.avatar.url(:sm)
      .media-body
        = link_to @other_member.nickname, @other_member
    - else
      = image_tag 'sm_avatar_default.png'
      .media-body.text-muted
        Deleted profile
