- if params[:action] == 'index'
  .up
    = link_to profiles_path do
      %h6
        Profiles
- elsif params[:action] == 'show'
  .up
    = link_to @profile do
      = image_tag @profile.avatar.url(:sm)
      %h6
        = @profile.nickname
