#check_artist.full_height
  = button_to add_to_listened_path(artist_id: artist.id), remote: true, data: {toggle: 'tooltip', placement: 'bottom'}, title: "Mark as listened", class: 'inv_btn check_artist_btn artist_action_btn' do
    %i.fas.fa-check
