.up
  .media-right
    = link_to 'Groups', groups_path

- if params[:action] == 'new'

  .up
    .media-right
      = link_to 'New', new_group_path

- elsif params[:action] == 'show'

  .up
    .media-left
      = image_tag @group.avatar.url(:xs)
    .media-right
      = link_to @group.name, group_path
