.up.media
  .media-body
    %i.fas.fa-users
    = link_to 'Groups', groups_path

- if params[:action] == 'show'
  .up.media
    = image_tag @group.avatar.url(:sm)
    .media-body
      = link_to @group.name, @group
