.card-body
  .d-flex.align-items-center.flex-column
    %h5.mr-2
      %i.fas.fa-check.text-success
      Message was sent.
    .media.mb-2
      .mr-2
        = image_tag @recipient.avatar.url(:xs), class: 'rounded-circle'
      .media-body
        %h5
          = link_to @recipient.nickname, @recipient
    = link_to 'Go to conversation', @conversation, class: 'btn btn-primary btn-sm'
