#tag_albums.panel.center
  .panel_header
    %h3
      muffon
      |
      = fa_icon 'tag'
      = params[:name]

  .separator.sep_0.sep_light

  .panel_content

    %h4 Top albums:

    .separator.sep_10.sep_default

    .panel_content_wide
      - @albums.map do |album|
        = render 'album', album: album

    .text_center
      = paginate @albums
