.card
  .card-body
    %h4
      %i.fas.fa-tag
      Tags

    %hr.my-3

    %h1.font-light.ml-4.mb-0
      = params[:tag_name]

    .separator.default.my-3

    %h5
      Tracks:

    .separator.default.my-2

    - if @tracks.any?
      %table.table.table-hover.table-sm
        - @tracks.each do |track|
          = render 'track', track: track.decorate

      %nav
        %ul.pagination
          - if params[:page].to_i > 1
            %li.page-item
              = link_to_prev_page @tracks, '< Prev', class: 'page-link'
          - if @tracks.length == 50
            %li.page-item
              = link_to_next_page @tracks, 'Next >', class: 'page-link'

    - else
      There are no tracks.
