%i.far.fa-calendar-alt

- if scope = params[:scope] || default_scope
	- case scope.to_i
	- when 7
		1 week
	- when 30
		1 month
	- when 90 
		3 months
	- when 180 
		6 months
	- when 365
		1 year
	- when 0
		All time
- else
	All time
.caret