.track
  @extend .flex, .alignItemsCenter
  .playButton
    margin-right: 10px
    button
      @extend .margin0

.trackContent
  @extend .w100

.trackContentMain
  @extend .flex, .alignItemsCenter, .justifyContentSpaceBetween

.trackContentIndexTitle
  @extend .flex, .alignItemsCenter

.trackContentIndex
  margin-right: 10px

.trackContentCounter
  @extend .flex, .alignItemsCenter

.trackContentCounterLine
  height: 4px
  background: $muffonGray
  border-radius: 2px
  margin-right: 5px

.trackContentCounterData
  @extend .flex, .alignItemsCenter

.trackContentLength
  margin-left: 10px

.trackSourceIcon
  @extend .padding0
  width: 20px !important
  margin-right: 10px !important
