.track
  @extend .flex, .alignItemsCenter
  .playButtonWrap
    width: 20px
    text-align: center
    margin-right: 10px
  .playButton
    @extend .margin0, .padding0, .noShadow
    background: transparent !important

.trackContentWrap
  @extend .w100, .padding0

.trackContent
  @extend .flex, .alignItemsCenter, .justifyContentSpaceBetween

.trackContentMain
  @extend .flex, .alignItemsCenter

.trackContentIndex
  margin-right: 10px

.trackContentExtra
  @extend .flex, .alignItemsCenter

.trackContentLength
  margin-left: 10px

.trackSourceIcon
  @extend .padding0
  width: 20px !important
  margin: 0 0 0 10px !important

.trackContentCounter
  @extend .flex, .alignItemsCenter

.trackContentCounterLine
  height: 4px
  background: $muffonGray
  border-radius: 2px
  margin-right: 5px

.trackContentCounterData
  @extend .flex, .alignItemsCenter
