#profiles_page.panel.center
  .panel_header
    %h3 Profiles

  .separator.sep_0.sep_light

  .panel_content
    %table.table.table-hover
      - @profiles.each do |profile|
        = render 'profiles/main/partials/profile', profile: profile