.card
  .card-body
    .d-flex.align-items-center.justify-content-between
      %h4.mb-0
        %i.fas.fa-users
        Groups

      = button_tag class: 'btn btn-primary', data: { toggle: 'modal', target: '#new-group-modal'} do
        %i.fas.fa-plus
        Create a group

    .separator.default.my-3

    - if @groups.any?
      %table.table.table-hover.table-sm
        = render partial: 'partials/groups/group', collection: @groups
    - else
      There are no groups.

= render 'modals/groups/new'
