#library-search-results.mt-2.pr-3
  %h5 Artists:

  .separator.default.my-2

  - if @artists.present?
    .row
      - @artists.each do |artist|
        .col-6.col-sm-4.col-lg-3.mb-2
          = render 'partials/profiles/library/instances/artist', artist: artist
  - else
    %h6
      No results.

  %hr.my-2

  %h5 Albums:

  .separator.default.my-2

  - if @albums.present?
    .row
      - @albums.each do |album|
        .col-6.col-sm-4.col-lg-3.mb-2
          = render 'partials/profiles/library/instances/album', album: album
  - else
    %h6
      No results.

  %hr.my-2
    
  %h5 Tracks:

  .separator.default.my-2

  - if @tracks.present?
    %table.table.table-hover.table-sm
      = render partial: 'partials/profiles/library/instances/track', collection: @tracks
  - else
    %h6
      No results.
