.card
  .card-body
    .d-flex.justify-content-between.align-items-center
      %h4.mb-0
        %i.fas.fa-volume-up
        Recommendations

      = button_tag class: 'btn btn-primary', id: 'recommendations-filter-button' do
        %i.fas.fa-filter
        Filter

    .separator.default.my-3

    #recommendations-filter-form
      = render 'partials/recommendations/filter_form'

    #recommendation-query
      = render 'partials/recommendations/query'

    #recommendations
      = render 'partials/recommendations/recommendations'
