%hr.sep_0

%table.table.table-condensed

  - @tracks.map do |track|

    %tr
      %td

        .media-left.mid_align

          = button_to playlist_add_profile_track_path(profile_track_id: track.id), class: 'btn btn-primary btn-sm playlist_add_btn', remote: true do
            %i.fas.fa-angle-double-left

        .media-body.mid_align

          = link_to track.title, library_artist_track_path(id: current_profile.id, name: track.artist_name, title: track.track_title)
