- if @albums.any?
  .row
    - @albums.each do |album|
      .col-6.col-sm-4.mb-2
        = render 'profiles/library/albums/album', album: album
  .text-right
    = link_to 'View more...', profiles_library_albums_path(scope: params[:scope]), class: 'btn btn-primary btn-sm'
- else
  There are no albums.
