.text-right
  = form_for Micropost.new, url: profiles_microposts_path, class: 'text-right', remote: true do |f|
    = f.text_area :content, placeholder: 'Enter something to post...', class: 'input-transp mb-2', rows: 2, required: true
    = f.hidden_field :board_id, value: @profile.id
    = f.submit 'Post', class: 'btn btn-primary'