#library_tags_panel.panel.library_page.center
  
  = render 'library/partials/panel_header'

  .separator.sep_0.sep_light

  #library_tags_panel_content.panel_content

    %h4 Tags:

    .separator.sep_10.sep_default
    
    = render 'library/partials/tags'
