#welcome

  #welcome_right

    .panel_content

      %h4
        Log in

      .separator.sep_10.sep_default

      = render 'sessions/login_form'

    %hr.sep_0

    .panel_content

      .mg_btm_5
        = link_to 'auth/lastfm', class: 'btn btn-primary btn-block' do
          %i.fab.fa-lastfm
          Sign up with Last.fm*
      = link_to 'Sign up', signup_path, class: 'btn btn-primary btn-block'

      %hr.sep_10

      %h6
        *test

  #welcome_left

    .h0.mg_btm_5
      muffon
    %h4
      Share the Music.
