#settings.panel.panel-default
	#edit_form
		%h4 Edit your profile
		= render 'profiles/form'

	= link_to 'Delete account', @profile, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}