.dropdown
  = button_tag class: 'btn-transp dropdown-toggle px-2 py-1 mr-1 ml-3', data: { toggle: 'dropdown' } do
    %h5.mb-0
      %i.fas.fa-ellipsis-v.text-white
  .dropdown-menu.dropdown-menu-right
    .dropdown-item
      = button_tag class: 'btn-transp', data: { toggle: 'modal', target: '#playlist-search-modal' } do
        %i.fas.fa-plus.mr-1
        Add tracks
    .dropdown-item
      = button_tag class: 'btn-transp', data: { toggle: 'modal', target: '#edit-playlist-modal' } do
        %i.fas.fa-pencil-alt.mr-1
        Edit playlist
    .dropdown-item
      = button_to profiles_playlist_path(playlist_name: @playlist.name), class: 'btn-transp', method: :delete do
        %i.fas.fa-times.mr-1
        Delete playlist