.card
  .card-body
    .d-flex.align-items-center.justify-content-between
      %h4.mb-0
        %i.fas.fa-users
        Groups

      .media.align-items-center
        .mr-2
          = image_tag @profile.avatar.url(:sm), class: 'img-xs rounded-circle'
        .media-body
          %h5.mb-1
            = link_to @profile.nickname, @profile

    .separator.default.my-3

    - if @groups.any?
      %table.table.table-hover.table-sm
        = render partial: 'partials/groups/group', collection: @groups
    - else
      There are no groups.
