.card
  .card-body.text-center
    %i.fas.fa-question.text-muted.fa-4x.mb-3.mt-3
    .mb-3
      %h4
        Seems like this page cannot be found.
      %h5
        Please, try some other pages.
