.card
  .card-body.text-center
    %i.fas.fa-exclamation-triangle.text-muted.fa-4x.my-4
    .mb-3
      %h4
        Something's wrong on the other side.
      %h6
        (It's not our fault).
      %h5  
        Please, try reloading the page or waiting for a while.
