@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html, body {
	height: 100%;
	background-color: #392d50;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

hr {
	margin: 10px 0;
}

a, a:hover {
	color: white;
}

.container-fluid {
	height: 100%;
	padding: 45px 65px 0 15px;
	margin: 0 0 0 50px;
}

.form-control {
	margin-bottom: 10px;
}

#upbar {
	z-index: 1000;
	width: 100%;
	position: fixed;
	margin-left: 145px;
	height: 35px;
	a {
		vertical-align: top;
	}
	img {
		margin: -10px 5px 0 -10px;
		width: 35px;
	}
	.up {
		display: inline-block;
		vertical-align: top;
		padding: 10px;
		height: 100%;
		background-color: #261a33;
		min-width: 10px;
		line-height: 1.3;
		#up_link {
			display: inline-block;
			margin-left: 15px;
			vertical-align: top;
		}
	}
	#up_library img {
		margin-right: -10px;
	}
	#logo {
		text-align: center;		
		line-height: 0.8;
		letter-spacing: 1px;
		font-size: 25px;
		width: 110px;
		margin-right: 6px;
	}
}

.prog_bar {
	z-index: 1000;
	position: fixed;
	margin-left: 265px;
	margin-top: 45px;
	width: 792px;
	.progress {
		margin-bottom: 10px;
		// .progress-bar {
		// 	background-color: #453a58;
		// }
	}
	#job_status .job {
		display: inline-block;
	}
}

#sidebar {
	padding: 40px 10px 0 10px;
	width: 50px;
	background-color: #261a33;
	height: 100%;
	position: fixed;
	#side_down_icons {
		position: absolute;
		bottom: 5px;
	}
	i {
		text-align: center;
		font-size: 25px;
		width: 30px;
		margin-bottom: 10px;
	}
}

#player {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #261a33;
}

.panel {
	border-radius: 0px;
	background-color: #261a33;
	border: none;
	padding: 20px;
}

.center {
	margin-left: 200px;
	width: 792px;
}

#signup_form, #login_form, #edit_form {
	width: 400px;
	h4 {
		margin-bottom: 10px;
	}
}

.dropdown_btn:hover {
	color: white;
}

.profile_form {
	text-align: right;
	.alert {
		margin-bottom: 10px;
		text-align: left;
	}
	#form_birthdate, #form_avatar_info {
		display: flex;
	}
	#form_avatar {
		margin-right: 10px;
		img {
			margin-bottom: 10px;
		}
	}
	#form_info {
		width: 280px;
	}
	#profile_remember {
		float: left;
		label {
			vertical-align: middle;
		}
	}
}

#profile_page {
	#profile_avatar {
		position: fixed;
		margin-left: 80px;
	}
}

.created_at {
	float: right;
	margin-left: 15px;
}

#library_page .panel {
	padding-bottom: 10px;
}

.table {
	margin: 0;
	tbody tr td {
		border: none;
	}
	tbody tr td:hover {
		background-color: #1c1326;
	}
}

.scopes {
	display: inline-block;
	float: right;
	.dropdown {
		display: inline-block;
	}
}

.profile_library {
	#top_albums_panel {
		width: 458px;
		display: inline-block;
		margin-right: 10px;
		.panel_content {
			text-align: center;
		}
	}
	#top_tracks_panel {
		display: inline-block;
		width: 320px;
		vertical-align: top;
	}
	#profile_artist_info {
		#prof_art_left {
			padding: 0
		}
		#prof_art_info {
			padding-left: 10px;
		}
		#profile_album {
			width: 188px;
		}
	}
	.profile_track {
		h5 {
			display: inline;
		}
	}
	.track_cover img {
		width: 50px;
	}
	#recent_tracks, #new_loved_tracks {
		width: 389px;
		display: inline-block;
		vertical-align: top;
	}
	#new_loved_tracks {
		margin-right: 10px;
	}
}

.artist, .album {
	text-align: center;
	display: inline-block;
	margin-bottom: 15px;
	width: 190px;
	vertical-align: top;
}

.artist_image, .album_cover {
	margin-bottom: 5px;
	img {
		width: 170px;
	}
}
.artist_image img {
	position: relative;
	z-index: 10;
	border-radius: 50%;
}

.panel_header {
	margin-bottom: 10px;
	img {
		width: 50px;
		border-radius: 50%;
		margin-right: 5px;
	}
	h3 {
		display: inline;
		vertical-align: middle;
	}
}

.panel_header_sm {
	margin-bottom: 5px;
}

.panel_content {
	margin-left: -10px;
	margin-right: -10px;
}

.artist_page {
	#artist_page_image {
		padding-right: 20px;
	}
	#artist_page_tracks, #artist_page_albums {
		display: table-cell;
		vertical-align: top;
	}
	#artist_page_tracks {
		width: 368px;
	}
	#artist_page_albums {
		width: 384px;
	}
	#artist_page_info_name {
		margin-bottom: 5px;
	}
	#artist_page_info_tags {
		margin-bottom: 10px;
	}
	#artist_page_info_listens h4 {
		display: inline-block;
	}
	.label {
		font-size: 100%;
		font-weight: inherit;
		padding: 2px 6px;
	}
}

.recommendation {
	min-height: 220px;
	display: inline-block;
	vertical-align: top;
	width: 374px;
	.recommendation_artist {
		text-align: center;
	}
	.rec_header {
		margin-bottom: 5px;
	}
	.recommendation_info h5 {
		font-size: 12px;
	}
	.recommendation_info_artist {
		margin-bottom: 5px;
		.artist_image, h5 {
			display: inline;
		}
	}
	#rec_actions {
		height: 170px;
		width: 170px;
		position: absolute;
	}
	.rec_action {
		width: 85px;
		height: 85px;
		color: white;
	}
	#rec_plays {
		position: relative;
		margin-top: -85px;
		margin-left: 85px;
		background-color: #15389b;
		text-align: right;
		h5 {
			top: 7px;
			right: 7px;
			position: absolute;
		}
	}
	#rec_listened {
		position: relative;
		margin-left: 85px;
		text-align: right;
		h5 {
			bottom: 0;
			right: 0;
			position: absolute;
		}
	}
	.rec_del_btn {
		width: 15px;
		height: 15px;
		text-align: center;
		border-radius: 2px;
		float: left;
		&:hover {
			background-color: red;
		}
		i {
			vertical-align: top;
		}
	}
}
.rec_restore {
	display: inline-block;
	width: 374px;
}

#recommendations_page .panel {
	background-color: #1c1326;
	padding: 10px;
	margin-bottom: 10px;
}
