$muffonLight: #7a47c0
$muffonDefault: #574078
$muffonDarkLight: #3c2f50
$muffonDark: #2f263e
$boxShadow: 0 0px 2px 1px rgba(3, 3, 3, 0.4)
$borderDefault: 1px solid $muffonDefault
$borderDarkLight: 1px solid $muffonDarkLight

$primary: $muffonDefault
$light: $muffonLight
$dark: $muffonDark

@import 'bootstrap'
@import 'flag-icon'

// HTML

html
  @extend .position-relative
  min-height: 100%
body
  min-height: 100vh
  margin-bottom: 210px
body, hr
  @extend .default
hr
  @extend .m-0
strong
  font-weight: 600
a
  @extend .text-white, .no-outline
td
  @extend .border-top-0
  border-bottom: $borderDefault
label
  @extend .mb-0
select
  @extend .no-shadow
table
  @extend .table
h1, h2, h3, h4, h5, h6
  @extend .m-0

// Media

@media (max-width: 767.98px)
  #sidebar
    width: 0px !important
  #footer
    padding-left: 30px !important
@media (max-width: 575.98px)
  body
    margin-bottom: 270px
  #player-panel
    height: 120px !important
  #footer
    height: 270px !important
  #album-title-left
    display: none !important

// Flag icons

.flag-icon
  width: 18px

// Bootstrap

.container-fluid
  padding: 0

.row
  margin: 0 -10px
  [class^=col]
    padding: 0 10px
.no-gutters
  @extend .m-0

.card
  @extend .dark-light, .text-white, .border-0, .with-shadow

.table thead th
  @extend .border-0
  border-bottom: $borderDefault
  font-weight: 500
.table-hover td:hover
  @extend .dark

.btn
  @extend .border-0, .no-shadow
.btn-sm
  line-height: 1
  padding: 7px 9px
.btn.disabled
  opacity: 1 !important

.dropdown-toggle::after
  @extend .d-none
.dropdown-item
  padding: 5px 15px
  i
    @extend .icon-centered
  .btn-transp, a
    @extend .text-dark, .w-100, .text-left
.dropdown-item:active
  background-color: lightGray

.icon-centered
  @extend .text-center
  width: 20px

.nav-fill .nav-link.active
  @extend .transparent
  border-bottom: 2px solid $muffonLight
  border-radius: 0px

.text-love
  color: red

.modal-dialog
  margin: 75px auto
  pointer-events: all
.modal-content
  @extend .dark-light, .text-white
.modal-header
  border-bottom: $borderDefault
.modal-footer
  border-top: $borderDefault

.badge
  font-weight: 500 !important

.small
  line-height: 1.2

.popover a
  @extend .text-dark, .d-block, .w-100

// Kaminari

.pagination
  @extend .mb-0, .justify-content-center
.page-item.active .page-link
  @extend .light
.page-link:not(:disabled):not(.disabled)
  @extend .default
.page-link
  @extend .text-white, .no-shadow
  border: $borderDarkLight

// Turbolinks

.turbolinks-progress-bar
  @extend .light
  height: 5px

// jQuery UI Autocomplete

.ui-autocomplete
  @extend .position-absolute, .z-100, .p-0, .white, .scrollable
  list-style: none
  max-height: 200px
  .ui-menu-item
    @extend .cursor-pointer
    padding: 7px 12px
  .ui-menu-item:hover
    background-color: lightGrey
.ui-helper-hidden-accessible
  @extend .d-none

// Font Awesome

.fa-circle-notch
  line-height: 0.7 !important

// Layouts

#main-container
  @extend .container-fluid, .py-5, .position-relative, .h-100
#upbar-container
  @extend .container-fluid, .fixed-top, .z-500
#progress-bar-container
  @extend .container-fluid, .fixed-bottom, .z-750

#sidebar
  @extend .h-100, .position-fixed, .fixed-top, .z-1000, .text-white, .with-shadow, .dark-light-transparent
  width: 50px
  transition: 0.3s
  font-size: 16px
  white-space: nowrap
  overflow-x: hidden
.sidebar-menu
  @extend .mb-0
  td
    @extend .border-0, .p-0
    padding: 7px 0
  i
    @extend .text-center
    width: 50px
    font-size: 20px
  a, h6
    @extend .d-flex, .align-items-center, .no-text-decoration, .w-100
    height: 40px
#sidebar:hover
  width: 250px !important
#sidebar-search-form
  @extend .d-inline
#sidebar-search-input
  @extend .input-transp, .border-0
  width: 180px !important
#sidebar-search-results-wrap
  @extend .position-fixed, .h-100, .z-10, .text-white, .p-2
  background-color: $muffonDark+e8
  display: none
  width: 250px
  white-space: normal
#sidebar-search-results
  @extend .scrollable
  display: none
#sidebar-loading
  @extend .text-center, .mt-5
  display: none
#sidebar-music-submenu-header
  @extend .position-relative, .cursor-pointer
  .caret
    @extend .position-absolute, .right-0
#sidebar-music-submenu
  @extend .sidebar-menu
  margin-left: 25px
  display: none
#sidebar-music-submenu:hover
  background-color: transparent
#sidebar-bottom-menu
  @extend .position-absolute, .bottom-0, .w-100, .mb-2, .sidebar-menu

#new-messages-counter
  @extend .badge, .badge-light, .float-right, .mr-3
#new-message-circle
  @extend .top-0, .position-absolute
  font-size: 10px !important
  left: 10px

#loading
  display: none
#loading-inner
  @extend .text-white, .position-fixed, .w-100, .h-100, .top-0, .z-100, .d-flex, .align-items-center, .justify-content-center, .dark-light-transparent
  i
    @extend .position-fixed

#progress-bar
  @extend .dark-light-transparent, .with-shadow
  bottom: 75px
  display: none
  .progress
    height: 10px
    border-radius: 5px
  .progress-bar
    background-color: $muffonLight
    transition: 0.5s

#footer
  @extend .dark-light, .w-100, .bottom-0, .position-absolute, .z-250
  background-color: $muffonDarkLight
  padding: 20px 20px 50px 80px
  height: 210px

#upbar
  @extend .d-flex, .align-items-center, .text-white
  height: 35px
  #logo
    @extend .px-3
    line-height: 1.1
    letter-spacing: 0.03em
  #beta-btn
    @extend .tag, .light, .position-absolute, .top-0
    left: 110px
    font-size: 11px !important
    padding: 4px !important
    line-height: 0.6 !important
  .up
    @extend .dark-light, .h-100, .mr-2, .with-shadow, .d-flex, .align-items-center
    a
      @extend .d-flex, .align-items-center, .w-100, .h-100, .no-text-decoration
    img
      @extend .img-xs
    h6
      @extend .mb-0, .mx-2

#scroll-top-btn
  background-color: $muffonDark+aa !important
  bottom: 15px
  display: none
  width: 85px

#playing-now-panel
  @extend .dark-light-transparent, .with-shadow, .right-0
  display: none
  width: 280px
#player-panel
  @extend .dark-light-transparent, .with-shadow
  display: none
  height: 60px
#player-panel.shown
  display: block
#audio-seekbar
  @extend .default, .cursor-pointer
  height: 3px
.ui-slider-handle
  @extend .light, .position-absolute, .cursor-pointer
  height: 10px
  width: 10px
  border-radius: 50%
  top: -4px
  margin-left: -4px
.ui-slider-range
  @extend .light
  height: 3px

// Custom

.main-wrap
  @extend .col-12, .col-md-10, .offset-md-1, .col-lg-8, .offset-lg-2, .px-3
.start-page-wrap
  @extend .col-sm-10, .offset-sm-1, .col-md-8, .offset-md-2, .col-xl-6, .offset-xl-3, .p-0

.form-field-custom
  @extend .row, .align-items-center, .mb-3
.form-label-custom
  @extend .col-12, .col-md-3
  padding: 0 10px
.form-input-custom
  @extend .col-12, .col-md-9
  padding: 0 10px

.h0
  @extend h1
  font-size: 80px

.tag
  @extend .btn, .btn-primary, .btn-sm
  margin: 0 5px 5px 0
  padding: 4px 8px
  font-size: 0.9 !important
  max-width: 170px
  white-space: normal
  line-height: 1
  %strong, .small
    @extend .d-inline

.separator
  @extend .default
  height: 2px

.default
  background-color: $muffonDefault !important
.light
  background-color: $muffonLight !important
.dark-light
  background-color: $muffonDarkLight !important
.dark
  background-color: $muffonDark !important
.transparent
  background-color: transparent !important
.white
  background-color: white !important
.dark-light-transparent
  background-color: $muffonDarkLight+e6 !important

.artist-actions
  @extend .position-absolute, .w-100
  padding-top: 100%
.artist-action
  @extend .w-50, .h-50, .position-absolute, .align-items-end
[id^=artist-library-action]
  @extend .top-0
[id^=artist-library-action], [id^=artist-listened-action]
  @extend .right-0
[id^=artist-bookmark-action], [id^=artist-listened-action]
  top: 50%
.library-action-btn, .bookmark-action-btn, .listened-action-btn
  @extend .d-flex, .h-100
.library-action-btn, .listened-action-btn
  @extend .justify-content-end
.bookmark-action-btn, .listened-action-btn
  @extend .align-items-end
.action-btn
  @extend .btn-transp
  margin: 5px 10px
  font-size: 13px

.btn-transp
  @extend .transparent, .text-white, .border-0, .p-0, .no-outline, .cursor-pointer

.track-bar-wrap
  @extend .d-flex, .align-items-center, .mt-1
  a
    line-height: 1
.track-bar
  @extend .light
  margin-right: 5px
  height: 3px

.clickable
  cursor: zoom-in

.img-sm
  width: 50px
.img-xs
  width: 35px

.bottom-0
  bottom: 0
.top-0
  top: 0
.right-0
  right: 0

.input-transp
  @extend .w-100, .transparent, .border-0, .text-white, .no-shadow, .no-outline
  font-size: 20px
  border-bottom: $borderDefault
.input-transp:focus
  border-bottom: 2px solid $muffonLight !important

.z-1
  z-index: 1
.z-10
  z-index: 10
.z-100
  z-index: 100
.z-250
  z-index: 250
.z-500
  z-index: 500
.z-750
  z-index: 750
.z-1000
  z-index: 1000

#signup-btns, #signup-form, #additional-form, #login-form
  display: none

.btn-lastfm
  @extend .btn, .btn-danger
  background-color: #ba0000

.list-play-btn-wrap, .list-play-btn-cover-wrap
  @extend .d-flex, .align-items-center, .justify-content-center
.list-play-btn-wrap
  width: 35px
  height: 35px
.list-play-btn-cover-wrap
  @extend .position-relative
  .list-play-btn
    @extend .position-absolute
    transition: 0.2s
    opacity: 0
.list-play-btn:hover, .list-play-btn.shown
  opacity: 1

.btn-30
  height: 30px
  width: 30px

#library-search-form-wrap
  display: none
  top: 50px
#library-search-form
  background-color: $muffonDark+f4 !important
#library-search-results
  @extend .scrollable
  max-height: 420px

.scrollspy
  @extend .position-sticky
  top: 50px
.anchor
  @extend .position-relative
  top: -50px

#playlist-search-results-placeholder, #playlist-search-results
  height: 320px
#playlist-search-results
  @extend .scrollable
  display: none

.font-light
  font-weight: 300

#recommendations-filter-form
  display: none

[id^=recommendation-restore], [id^=bookmark-restore]
  background-color: $muffonDark+e8
[id^=bookmark-restore]
  margin: -0.3rem

.new-conversation-circle
  font-size: 12px
.new-message-circle
  font-size: 10px
#conversation-messages
  @extend .scrollable
  height: 360px
.message
  max-width: 75%

.icon-xs
  max-width: 20px

.image-modal
  @extend .p-0
  .modal-dialog
    @extend .text-center
    margin: 50px auto 0 auto

// Album page

#album-play-btn-main
  @extend .d-none, .d-sm-block, .position-absolute, .right-0
#album-title-left
  @extend .text-center, .mt-1
  display: none

.truncated
  @extend .overflow-hidden
  white-space: nowrap
  text-overflow: ellipsis

.overflow-hidden
  overflow: hidden

#compatibility
  width: 50px
  #compatibility-percent-background-circle
    fill: none
    stroke: $muffonDefault
    stroke-width: 3
  #compatibility-percent-circle
    fill: none
    stroke: $muffonLight
    stroke-width: 3
    stroke-linecap: round
  #compatibility-text
    text-anchor: middle
    fill: white
    font-size: 12px

.with-shadow
  box-shadow: $boxShadow
.no-shadow
  box-shadow: none !important
.no-outline
  outline: none !important
.no-text-decoration
  text-decoration: none

.scrollable
  overflow-y: scroll

.cursor-pointer
  cursor: pointer

.align-center
  @extend .d-flex, .align-items-center
.mobile-centered
  @extend .align-center, .flex-wrap, .text-center, .text-sm-left, .justify-content-center, .justify-content-sm-start

.youtube-iframe
  @extend .embed-responsive, .embed-responsive-16by9, .mt-2

// Radio

#radio_container
  height: 530px
#radio_track_wrap
  height: 482px
#radio_track_info
  @extend .position-absolute
  bottom: 58px
  left: 18px
#radio_track_image img
  max-height: 450px
  object-fit: contain
  background-color: black
#radio_loader_wrap
  background-color: $muffonDarkLight
  opacity: 0.7
#radio_youtube_iframe
  @extend .position-absolute, .bottom-0, .w-100
  height: 93%
#radio_track_actions
  @extend .position-absolute, .bottom-0, .w-100, .h-100

// Track
#track_additional
  margin-left: 235px
#track_page_video_container
  @extend .position-relative
  overflow: hidden
  padding-top: 56.25%
  iframe
    @extend .position-absolute, .top-0, .w-100, .h-100
    left: 0

// Stats
.input-group-text
  @extend .text-white
  background-color: $muffonDefault
  border: $muffonDefault
