#sidebar
  width: 50px
  background-color: $muffonDarkLight+e6
  transition: 0.3s
  font-size: 16px
  white-space: nowrap
  overflow-x: hidden
  box-shadow: $boxShadow
  td
    border: none
    padding: 0
  i
    width: 50px
    text-align: center
    font-size: 20px
  a
    text-decoration: none
    display: block
    padding: 7px 0
#sidebar:hover
  width: 240px
#sidebar-search-input
  @extend .input-transp
  width: 170px
  max-width: 100%
#sidebar-music-submenu-header
  padding: 7px 0 !important
  cursor: pointer
#sidebar-music-submenu table
  margin-left: 25px
  display: none
#sidebar-music-submenu:hover
  background-color: transparent

#new-message-circle
  font-size: 10px !important
  left: 10px
  top: 0

#loading
  display: none
  color: white
  background-color: $muffonDarkLight+aa

#progress-bar
  bottom: 40px
  display: none
  background-color: $muffonDarkLight+aa
  box-shadow: $boxShadow
  .progress
    height: 10px
    border-radius: 5px
  .progress-bar
    background-color: $muffonLight
    transition: 0.5s

#footer
  background-color: $muffonDarkLight
  padding: 20px 20px 50px 80px
  height: 180px

#upbar
  height: 35px
  a
    text-decoration: none
  #logo
    line-height: 1.1
    letter-spacing: 0.03em
  #beta-btn
    @extend .tag
    left: 95px
    font-size: 11px !important
    background-color: $muffonLight !important
    padding: 4px !important
    line-height: 0.6 !important
  .up
    margin-right: 8px
    background-color: $muffonDarkLight
    box-shadow: $boxShadow
    height: 100%
    align-items: center !important
    img
      width: 35px
    .media-body
      padding: 10px

#scroll-top-btn
  background-color: $muffonDark+aa
  bottom: 15px
  display: none
  width: 85px
