@import 'variables'

// Welcome

#welcome_right
  background-color: $muffonDark
  box-shadow: $boxShadow
  width: 320px
  position: fixed
  right: 50px
  z-index: 1

// Signup

.profile_form
  #profile_birthdate_1i, #profile_birthdate_2i, #profile_birthdate_3i
    @extend .input_transp, .flex-fill, .custom-select
  #profile_country
    @extend .input_transp, .custom-select

// Profiles

#profile_remember
  display: inline-block
  width: 140px
#profile_page_btn_group
  display: inline-block
  .first_child, .mid_child
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-right: 1px solid $muffonDarkLight
  .last_child, .mid_child
    border-top-left-radius: 0
    border-bottom-left-radius: 0
#percentage_wrap
  display: inline-block
  vertical-align: middle
  width: 50px
  height: 50px
#percentage_circle_bg
  fill: none
  stroke: $muffonDefault
  stroke-width: 3.5
#percentage_circle
  stroke: $muffonLight
  fill: none
  stroke-width: 3.5
#percentage
  fill: white
  text-anchor: middle
  font-size: 10px
  font-weight: bold
.popover-content
  background-color: $muffonDark
  box-shadow: $boxShadow
  padding: 15px
  text-align: center
  width: 265px
.popover
  background-color: $muffonDark
.popover.bottom > .arrow, .popover.bottom > .arrow::after
  border-bottom-color: $muffonDark
.tooltip_common_artist, .tooltip_common_album
  display: inline-block
  text-align: center
  vertical-align: top
  width: 75px
  margin-bottom: 10px
#profile_page_tabs
  padding-left: 155px
  a.active
    border-bottom: 2px solid $muffonLight

// Libraries
 
.track_options
  float: right
  margin: 5px 0 0 5px
  .created_at, .track_dropdown
    display: inline-block
    vertical-align: middle
  .created_at
    width: 75px
  .track_actions_dropdown
    left: 25px
    top: -10px
    color: black
    background-color: $muffonDarkLight
  .btn_group_first
    border-radius: 3px 3px 0 0
    border-bottom: 1px solid $muffonDarkLight
  .btn_group_mid
    border-bottom: 1px solid $muffonDarkLight
    border-radius: 0
  .btn_group_last
    border-radius: 0 0 3px 3px
  .fa-ellipsis-v
    opacity: 0.25
  .track_dropdown:hover
    .fa-ellipsis-v
      opacity: 1
#library_top_albums_panel, #library_new_loved_tracks
  width: 405px
  border-right: $border
.scope_order .dropdown_btn
  padding: 0 5px

// Library artists

.panel_right
  padding-left: 20px
#library_artist_panel
  .artist_170
    margin: 0 6px
  .album_170, .album_170 img
    width: 160px
#library_artist_album_left
  .album_170
    margin: 0 6px
#library_artist_panel_left, #library_artist_album_left
  padding-right: 20px
#library_artist_panel_right, #library_artist_album_right
  border-left: $border
#library_artist_track_panel_left
  width: 390px
  padding: 0 20px 0 10px
  display: table-cell
#library_artist_track_panel_right
  width: 382px
  padding: 0 10px 0 20px
  display: table-cell
  border-left: $border

// Taggings

.library_tagging_panel
  display: table-cell
  vertical-align: top
  width: 33%

// Artists

.page_info
  padding-right: 10px
#artist_page_tracks
  display: table-cell
  width: 388px
  border-right: $border
#artist_page_albums
  display: table-cell
  width: 404px
.track_bar
  margin-top: 5px
  height: 5px
  background-color: $muffonLight

// Recommendations

.recommendation
  margin-bottom: 10px
  position: relative
  background-color: $muffonDark
  padding: 15px
#recommendation_filter_content
  padding: 20px 0
.recommendation_filter
  display: inline-block
  width: 221px
  margin: 0 20px
#recommendation_center
  width: 354px
  padding-right: 10px
#recommendation_right
  width: 180px
  padding-left: 10px
  border-left: $border
#recommendation_artist_name
  font-size: 22px
  margin-bottom: 7px
.rec_restore
  z-index: 50
  background-color: $muffonDark+cc
  margin: -15px 0 0 -15px
  h4
    margin: 90px 0 10px 0
.recommendation_query_block
  margin-right: 10px
  max-width: 238px

// Similars

.similar_artist
  display: inline-block
  vertical-align: top
  margin-bottom: 10px
  width: 248px
  padding: 15px
  background-color: $muffonDark

// Tags

#tag_artists .panel_content_wide
  margin: 0 -5px
.tag_artist
  display: inline-block
  vertical-align: top
  margin: 0 5px 20px
  width: 241px
  padding: 15px
  background-color: $muffonDark
  box-shadow: $boxShadow

// Playlists

#playlist_name
  margin: 0
#playlist_form_name
  width: 400px
#track_search_results
  margin-top: 10px
.search_artist_tracks, .search_album_tracks
  padding-left: 60px
  .table
    background-color: transparent
.panel_content_right
  display: none
  position: absolute
  width: 320px
  border-left: $border
  left: 472px
#playlist_search_results
  height: 375px
  overflow-y: scroll
#add_playlist_panel
  height: 460px
.search_entry
  display: inline-block
  vertical-align: middle
  .media-left
    position: relative
.playlist_page_btn_group
  .first_child
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-right: 1px solid $muffonDarkLight
  .last_child
    border-top-left-radius: 0
    border-bottom-left-radius: 0
.track_creds
  display: inline-block
  vertical-align: middle
  width: 75%

// Settings

#settings_edit_form
  width: 60%
  border-right: $border
  padding-right: 20px
#settings_password_form
  width: 40%
  padding-left: 20px

// Conversations

#conversation_messages
  height: 420px
  overflow-y: scroll
.message .table
  background-color: transparent
  width: 450px
  margin: 0
  .message_track
    border: none

// Contacts

#contacts_page_followers, #contacts_page_following
  width: 396px
  display: table-cell
#contacts_page_followers
  border-right: $border

// Search

#search_results
  position: relative
  min-height: 70px

// Groups

#group_name
  margin: 0 10px 5px 0
  display: inline-block
  vertical-align: middle
#group_content
  display: inline-block
  width: 538px
  margin-right: 10px
  vertical-align: top
#group_people
  padding-left: 10px
  display: inline-block
  width: 200px
  vertical-align: top
  border-left: $border
.membership_btn
  display: inline-block
  vertical-align: middle
  float: right

// Artist actions

.artist_actions
  padding-top: 100%
  position: absolute
  width: 100%
.artist_action
  width: 50%
  height: 50%
  position: absolute
.artist_action_btn
  position: absolute
  height: 25px
  width: 25px
.rec_delete
  text-align: center
  float: left
  top: 0
.rec_del_btn
  left: 0
  width: 15px
  height: 15px
  border-radius: 2px
  border: none
  background-color: transparent
  color: white
  position: absolute
  &:hover
    background-color: red
  i
    left: 2px
    position: absolute
    top: 0
.artist_library_sq, .library_artist_btn
  top: 0
.artist_bookmark_sq, .bookmark_artist_btn
  left: 0
.artist_library_sq, .artist_listened_sq, .library_artist_btn, .check_artist_btn
  right: 0
.artist_bookmark_sq, .artist_listened_sq, .bookmark_artist_btn, .check_artist_btn
  bottom: 0
#bookmark_artist, #check_artist, #add_to_library
  .artist_action_btn
    color: rgba(255, 255, 255, 0.2)
  .artist_action_btn:hover
    color: white
#show_in_library, #unbookmark_artist
  background-color: $muffonDefault
#uncheck_artist
  background-color: $muffonLight
.library_artist_btn
  padding: 5px
