$muffonLight: #4d377e
// $muffonDefault: #392d50
$muffonDefault: #3c3054
// $muffonDarkLight: #261a33
$muffonDarkLight: #271b36
$muffonDarkLightTransparent: rgba(38, 26, 51, 0.85)
$muffonDark: #1c1326
$boxShadow: 0 4px 4px 1px rgba(3, 3, 3, 0.4)
$border: 1px solid $muffonDefault
$borderDarkLight: 1px solid $muffonDarkLight
