%h5.mr-2.d-inline
  %i.fas.fa-tags
  Taggings:

- unless params[:action] == 'index'
  .d-inline
    = link_to profiles_library_tagging_path(tag_name: @profile_tag.tag.name), class: 'tag' do
      %strong
        = @profile_tag.tag.name

.separator.default.my-2
