#playlist_search_form
	= form_tag playlist_search_track_path do
		#track_search_field= text_field_tag :title

:javascript
	$('#track_search_field').change(function(e){
		$.ajax({
			method: 'GET',
			url: '/search_track',
			data: {query: e.target.value, profile_id: "#{current_profile.id}", id: "#{@playlist.id}"}
		})
	}),

	$('#track_search_field').on("keypress", function(e) {
		if (e.keyCode == 13) {
			return false;
		}
	});