@font-face
  font-family: LatoDefault
  src: $fontPath format('truetype')

*:not(i)
  font-family: Lato, LatoDefault, Helvetica Neue, Arial, Helvetica, sans-serif !important

html
  @extend .scroll-smooth
