@font-face
  font-family: LatoDefault
  src: $fontPath format('truetype')

html
  scroll-behavior: smooth

*:not(i)
  font-family: Lato, LatoDefault, Helvetica Neue, Arial, Helvetica, sans-serif !important

a
  outline: none

::-webkit-scrollbar
  width: 10px
  height: 10px

::-webkit-scrollbar-thumb
  border-radius: 5px
  background: #00000040

::-webkit-scrollbar-track
  background: $colorGrey !important

@media only screen and (min-width: 768px)
  .main-container
    width: 670px !important
  .ui.search
    &.main-history-input
      & > .results
        max-height: 250px

.pushable
  @extend .background-transparent
  .pusher
    @extend .overflow-visible, .background-transparent
    &:after
      @extend .background-transparent

.ui.modals
  @extend .no-padding

.ui.modal
  &.main-modal
    width: 500px
  &.main-image-modal
    @extend .background-transparent
  &.inverted
    & > .header
      border-bottom: $borderInverted
    & > .actions
      border-top: $borderInverted

.ui.checkbox
  &.main-toggle-checkbox
    width: $mainCheckboxWidth
    min-height: $mainCheckboxThumbHeight
    & > input
      width: $mainCheckboxWidth
      height: $mainCheckboxThumbHeight
      & ~ label
        &:before
          @extend .background-grey
        &:after
          left: 0
      &:checked
        & ~ label
          &:after
            left: calc(#{$mainCheckboxWidth} - #{$mainCheckboxThumbHeight})
      &:checked, &:focus:checked
        & ~ label
          &:before
            @extend .background-base
    & > label
      padding-left: 0
      padding-top: 0
      min-height: $mainCheckboxThumbHeight
      line-height: $mainCheckboxThumbHeight
      &:before
        width: $mainCheckboxWidth
        height: $mainCheckboxThumbHeight
      &:after
        height: $mainCheckboxThumbHeight
        width: $mainCheckboxThumbHeight
    &.inverted
      & > input
        & ~ label
          &:before, &:hover:before
            @extend .background-grey-inverted
        &:checked, &:focus:checked
          & ~ label
            &:before, &:hover:before
              @extend .background-base

.ui.toast-container
  @extend .pointer-events-auto
  &.top.right
    @extend .absolute, .no-margin
    top: 10px
    right: 10px

.ui.card.main-simple-card, .ui.card.main-horizontal-card
  & > .content .star.icon
    opacity: 1
    cursor: unset
    transition: unset
    &:hover
      color: $colorBase

.main-button
  @extend .no-padding, .no-shadow, .no-border-radius, .d-flex, .align-items-center, .justify-content-center

.main-navbar-button
  @extend .main-button
  width: $navbarHeight
  height: $navbarHeight

.main-segment-container
  @extend .no-border
  &:not(:first-child)
    margin: 1.5em 0 0 0

.main-segment
  &.loading
    min-height: 150px
  &.inverted
    &:not(:first-child)
      border-top: $borderInverted
    &.loading
      &:before
        @extend .background-black-transparent

.main-page-segment-container
  min-height: calc(100vh - #{$mainContainerTopPadding} - #{$mainContainerBottomPadding}) !important

.main-paginated-page-segment-container
  @extend .d-flex

.main-basic-segments-container
  & > .segments
    @extend .no-margin
    &:not(:first-child)
      margin-top: 1.5em !important
    & > .segment:only-child
      @extend .no-padding
    & > .segment:first-child
      padding: 0 0 1em 0
    & > .segment
      padding: 1em 0
    & > .segment:last-child
      padding: 1em 0 0 0

.main-modal
  & > .content
    max-height: $mainModalHeight !important
  &.inverted
    @extend .background-black
    border: $borderInverted
    & > .header, & > .content
      @extend .background-black

.main-modal-content-full-height
  @extend .d-flex, .flex-column
  height: $mainModalHeight
  .main-tab
    @extend .absolute, .overflow-y-auto

.main-image-modal
  @extend .no-margin, .no-shadow, .no-border, .no-border-radius, .width-fit-content
  &.scrolling
    &:after
      @extend .d-none

.main-image-modal-content
  @extend .d-flex, .flex-column, .justify-content-center
  height: 100vh

.main-image-container
  @extend .relative
  padding-bottom: 100%
  & > .image, & > .image-content
    @extend .absolute, .w-100, .h-100

.main-link
  @extend .cursor-pointer
  &:hover
    @extend .main-link-active
  &:not(.label)
    @extend .text-color-unset

.main-link-active
  @extend .text-color-base

.main-link-container
  @extend .text-color-unset
  &:hover
    .link
      @extend .main-link-active

.main-text-container
  white-space: pre-wrap

.main-lyrics-container
  @extend .main-text-container
  padding: 1.25em 2.5em
  & > .lyrics
    font-size: 16px

.main-simple-card
  @extend .no-shadow, .text-align-center, .text-color-unset
  & > .content
    @extend .no-padding, .no-border
    & > .description
      margin-top: 0.25em !important
    & > .main-self-icons
      margin-top: 0.5em
  & > .main-options-dropdown-container
    @extend .absolute, .no-margin, .d-none
    top: 10px
    right: 10px
  &:hover
    transform: none
    & > .main-options-dropdown-container
      @extend .d-block

.main-simple-card-image-container
  @extend .main-image-container
  margin-bottom: 0.25em
  & > .placeholder
    left: 0

.main-horizontal-card
  @extend .w-100
  .main-self-icons
    margin-top: 0.5em

.main-simple-list-item
  @extend .d-flex, .align-items-center, .word-break-break-word
  & > .image
    width: 50px
    height: 50px
    margin-right: 0.5em !important
    &.small
      width: 30px
      height: 30px
  & > .content
    @extend .flex-full, .no-padding
  & > .main-options-dropdown-container
    margin-left: 0.5em
    visibility: hidden
  .main-self-icons
    @extend .text-align-center
    width: 50px
    margin-left: 0.5em
  &:hover
    & > .link-active
      @extend .text-color-base
    & > .main-options-dropdown-container
      visibility: visible

.main-message
  @extend .no-shadow, .no-margin
  border: $border
  &.inverted
    border: $borderInverted !important

.main-popup
  @extend .no-border
  &.inverted
    border: $borderInverted !important

.main-header
  @extend .no-margin
  line-height: 1.2 !important

.main-artist-name
  margin-bottom: 0.4em !important

.main-dropdown
  @extend .d-flex, .align-items-center, .text-color-unset
  & > .text
    @extend .flex-full
  & > .menu
    z-index: 200 !important

.main-dropdown-item
  @extend .d-flex, .align-items-center
  line-height: 1.2em !important
  &.selected
    font-weight: unset !important
  & > .icon
    margin-right: 0.75em !important
  & > .image-container
    margin-right: 0.5em
    .image
      @extend .object-fit-cover
      width: 30px
      height: 30px
  & > .content
    @extend .flex-full, .word-break-break-word
    white-space: normal
  & > .extra
    margin-left: 0.75em !important
    font-size: 0.8em

.main-dropdown-icon
  @extend .d-flex, .align-items-center, .justify-content-center
  height: 18px !important
  width: 18px !important

.main-dropdown-right-icon
  @extend .no-margin
  margin-left: 0.75em !important

.main-track-dropdown-container
  @extend .d-flex, .align-items-center

.main-track-dropdown-logo-container
  @extend .d-flex, .align-items-center, .justify-content-center
  margin-right: 0.75em
  width: 25px
  height: 25px
  & > .icon
    @extend .no-margin
  & > .image
    width: 20px
    height: 20px

.main-settings-options-block
  &:not(:first-child)
    margin-top: 2em
  & > .content
    @extend .d-flex, .align-items-center
    padding-top: 10px
    & > .header
      @extend .flex-full

.main-seeker
  @extend .no-padding
  & > .inner
    @extend .cursor-pointer
    & > .track-fill
      @extend .background-base
    & > .track-progress
      @extend .background-grey
      transition: width 0.3s
    & > .thumb
      @extend .d-none, .no-shadow, .background-base
      width: 12px !important
      height: 12px !important
  &:not(.disabled)
    &:hover, &:active
      & > .inner
        & > .thumb
          @extend .d-block
  &:not(.vertical)
    & > .inner
      & > .thumb
        top: 1px !important
  &.vertical
    & > .inner
      & > .thumb
        left: 1px !important
  &.inverted
    & > .inner
      & > .track-progress
        @extend .background-grey-inverted

.main-pagination
  @extend .no-margin
  align-self: center
  &.inverted
    border: $borderInverted !important
  & > .item
    &:last-child
      &:before
        width: 0
    & > .direction-icon
      @extend .no-margin

.main-tabs-container
  @extend .flex-full, .d-flex, .flex-column

.main-tab-container
  @extend .flex-full, .relative

.main-tab
  @extend .no-padding, .no-shadow, .no-border, .no-margin, .w-100, .h-100, .d-flex, .background-transparent
  &.active
    visibility: visible
  &:not(.active)
    @extend .absolute
    visibility: hidden
    top: 0
    .main-paginated-content-container
      height: 0

.main-label
  &.basic
    &.inverted
      &:hover
        color: $colorWhiteInverted !important

.main-extra-title
  @extend .d-inline

.main-image
  &.inverted
    &.bordered
      border: $borderInverted !important

.main-code
  @extend .background-grey
  padding: 3px 9px
  border-radius: 6px
  font-weight: 700
  &.inverted
    @extend .background-grey-inverted

.main-source-select-container
  @extend .d-flex, .align-items-center

.main-source-select-content
  @extend .d-flex, .align-items-center, .flex-full

.main-source-select
  width: 210px
  margin-right: 1em !important

.main-source-select-type-select
  width: 150px
  margin-right: 1em !important

.main-source-select-item-select
  width: 210px
  margin-right: 1em !important

.main-form
  &.inverted
    &.loading
      &:before
        @extend .background-black-transparent

.main-app-title
  @extend .text-color-white, .text-medium-light
  font-size: 3.5em !important
  z-index: 1

.main-sidebar-item
  @extend .no-padding, .d-flex
  &:hover
    .main-sidebar-item-icon-container
      & > .icon
        color: $colorBase !important

.main-sidebar-item-icon-container
  @extend .d-flex, .align-items-center, .justify-content-center
  width: 40px
  height: 40px
  flex-shrink: 0
  & > .icon
    @extend .no-margin
    font-size: 1.25em

.main-sidebar-item-content-container
  @extend .d-flex, .align-items-center
  width: 200px
  padding: 0 0.5em
  flex-shrink: 0

.main-profile-image
  @extend .object-fit-cover

.main-playlist-image
  @extend .object-fit-cover

.main-paginated-container
  @extend .flex-full, .w-100, .d-flex, .flex-column

.main-paginated-content-container
  @extend .flex-full

.main-pagination-container
  @extend .d-flex, .justify-content-center
  padding: 5px

.main-small-container
  line-height: 0.8em

.main-progress
  &:not(.success, .error)
    & > .bar
      &.base
        @extend .background-base

.main-profile-page-columns-container
  @extend .d-flex

.main-profile-page-left-column
  width: 170px
  .main-profile-page-info
    @extend .d-flex, .flex-column, .align-items-center, .text-align-center, .word-break-break-word
  .main-profile-page-image
    margin-bottom: 0.5em

.main-profile-page-right-column
  @extend .flex-full
  margin-left: 1.5em

.main-sticky-container
  @extend .sticky
  top: $mainContainerTopPadding
  height: fit-content

.main-library-modal-import-section
  @extend .d-flex, .flex-column, .flex-full, .overflow-hidden

.main-library-modal-complete-section
  @extend .d-flex, .flex-column, .flex-full, .overflow-hidden

.main-library-modal-save-section
  @extend .d-flex, .flex-column, .flex-full, .overflow-hidden

.main-library-modal-success-section
  @extend .d-flex, .flex-column, .flex-full, .overflow-y-auto

.main-library-modal-retry-section
  @extend .d-flex, .flex-column, .flex-full, .overflow-y-auto

.main-library-modal-message-container
  margin-bottom: 1em

.main-self-button
  &:not(:first-child)
    margin-top: 0.5em

.main-simple-self-icon
  @extend .no-margin
  display: inline-block
  margin: 0.25em !important

.main-error-container
  @extend .w-100

.main-deleted-container
  @extend .d-flex, .justify-content-center, .flex-full

.main-options-dropdown-container-right
  @extend .w-100, .d-flex, .justify-content-flex-end

.main-options-dropdown
  @extend .width-fit-content
  background: white
  border-radius: 50%
  &.inverted
    @extend .background-black

.main-options-dropdown-button
  @extend .no-margin
  padding: 0.5em !important

.main-self-container
  @extend .d-flex, .w-100, .justify-content-center, .align-items-center
  margin-top: 0.5em
  .main-options-dropdown-container
    @extend .absolute
    right: 0

.main-self-icons-segment-container
  @extend .width-fit-content, .no-margin
  padding: 0.25em !important
