@use './Variables.sass' as *

.text-color-initial
  color: initial !important
.text-color-unset
  color: unset !important
.text-color-white
  color: $colorWhite !important
.text-color-white-inverted
  color: $colorWhiteInverted !important
.text-color-base
  color: $colorBase !important
.text-color-black
  color: $colorBlack !important
.text-color-grey
  color: $colorGrey !important
.text-color-grey-inverted
  color: $colorGreyInverted !important

.text-medium-light
  font-weight: 400 !important
.text-bold
  font-weight: 700 !important

.background-base
  background: $colorBase !important
.background-base-light
  background: $colorBaseLight !important
.background-white
  background: $colorWhite !important
.background-grey
  background: $colorGrey !important
.background-grey-inverted
  background: $colorGreyInverted !important
.background-black
  background: $colorBlack !important
.background-black-transparent
  background: $colorBlackTransparent !important
.background-none
  background: none !important
.background-plain-black
  background: black !important

.absolute
  position: absolute !important
.relative
  position: relative !important
.fixed
  position: fixed !important
.sticky
  position: sticky !important

@for $i from 1 through 20
  $width: $i * 5
  $widthPercent: $width * 1%

  .width-#{$width}
    width: $widthPercent !important

.width-fit-content
  width: fit-content !important

.height-100
  height: 100% !important
.height-navbar
  height: $navbarPanelHeight !important
.height-player-panel
  height: $playerPanelHeight !important
.height-fit-content
  height: fit-content !important

.top-navbar
  top: $navbarPanelHeight !important

.no-margin
  margin: 0 !important
.no-padding
  padding: 0 !important
.no-border-radius
  border-radius: 0 !important
.no-border-top-radius
  border-top-left-radius: 0 !important
  border-top-right-radius: 0 !important
.no-border
  border: none !important
.no-border-bottom
  border-bottom: none !important
.no-shadow
  box-shadow: none !important
.no-top
  top: 0 !important
.no-bottom
  bottom: 0 !important
.no-dragging
  -webkit-user-drag: none !important

[dir="ltr"]
  .no-right
    right: 0 !important
[dir="rtl"]
  .no-right
    left: 0 !important

[dir="ltr"]
  .no-left
    left: 0 !important
[dir="rtl"]
  .no-left
    right: 0 !important

.d-none
  display: none !important
.d-block
  display: block !important
.d-inline
  display: inline !important
.d-inline-block
  display: inline-block !important
.d-flex
  display: flex !important
.d-inline-flex
  display: inline-flex !important

.flex-column
  flex-direction: column
.flex-full
  flex: 1 !important

.justify-content-center
  justify-content: center !important
.justify-content-flex-end
  justify-content: flex-end !important
.justify-content-space-between
  justify-content: space-between !important
.justify-content-space-evenly
  justify-content: space-evenly !important

.align-items-start
  align-items: start !important
.align-items-center
  align-items: center !important
.align-items-end
  align-items: end !important

.align-self-center
  align-self: center !important

.cursor-default
  cursor: default
.cursor-pointer
  cursor: pointer !important
.cursor-zoom-in
  cursor: zoom-in

.overflow-x-auto
  overflow-x: auto !important
.overflow-y-auto
  overflow-y: auto !important
.overflow-x-hidden
  overflow-x: hidden !important
.overflow-hidden
  overflow: hidden !important
.overflow-visible
  overflow: visible !important

.white-space-no-wrap
  white-space: nowrap

.text-align-center
  text-align: center
[dir="ltr"]
  .text-align-right
    text-align: right
[dir="rtl"]
  .text-align-right
    text-align: left

.min-width-unset
  min-width: unset !important

.object-fit-cover
  object-fit: cover
.object-fit-contain
  object-fit: contain !important

.pointer-events-none
  pointer-events: none
.pointer-events-auto
  pointer-events: auto

.word-break-break-word
  word-break: break-word

.visibility-hidden
  visibility: hidden
.visibility-visible
  visibility: visible

.scroll-smooth
  scroll-behavior: smooth

.border
  border: $border !important
.border-inverted
  border: $borderInverted !important
.border-inverted-no-bottom
  @extend .border-inverted
  border-bottom: none !important
.border-inverted-no-top
  @extend .border-inverted
  border-top: none !important
.border-top
  border-top: $border !important
.border-top-inverted
  border-top: $borderInverted !important
.border-bottom
  border-bottom: $border !important
.border-bottom-inverted
  border-bottom: $borderInverted !important
[dir="ltr"]
  .border-left
    border-left: $border !important
  .border-left-inverted
    border-left: $borderInverted !important
  .border-right-inverted
    border-right: $borderInverted !important
[dir="rtl"]
  .border-left
    border-right: $border !important
  .border-left-inverted
    border-right: $borderInverted !important
  .border-right-inverted
    border-left: $borderInverted !important

.border-radius-large
  border-radius: $borderRadiusLarge !important
.border-radius
  border-radius: $borderRadius !important
.border-radius-no-bottom
  @extend .border-radius
  border-bottom-left-radius: 0 !important
  border-bottom-right-radius: 0 !important
.border-radius-medium
  border-radius: $borderRadiusMedium !important
.border-radius-small
  border-radius: $borderRadiusSmall !important

.border-color-base
  border-color: $colorBase !important
.border-color-base-light
  border-color: $colorBaseLight !important
.border-color-grey-inverted
  border-color: $colorGreyInverted !important

.border-inner
  outline: $border !important
.border-inner-inverted
  outline: $borderInverted !important

.image-120
  width: 120px !important
  height: 120px !important
.image-100
  width: 100px !important
  height: 100px !important
.image-90
  width: 90px !important
  height: 90px !important
.image-60
  width: 60px !important
  height: 60px !important
.image-50
  width: 50px !important
  height: 50px !important
.image-40
  width: 40px !important
  height: 40px !important
.image-35
  width: 35px !important
  height: 35px !important
.image-25
  width: 25px !important
  height: 25px !important

.video-image-100
  width: 100px !important
  height: calc(100px / 16 * 9) !important
.video-image-60
  width: 60px !important
  height: calc(60px / 16 * 9) !important

.rounded
  @extend .border-radius
.rounded-medium
  @extend .border-radius-medium
.rounded-small
  @extend .border-radius-small

.middle-aligned
  @extend .d-flex, .align-items-center
.middle-aligned-column
  @extend .middle-aligned, .flex-column
.middle-aligned-full
  @extend .middle-aligned, .flex-full
.middle-aligned-space-between
  @extend .middle-aligned, .justify-content-space-between
.middle-center-aligned
  @extend .middle-aligned, .justify-content-center
.middle-end-aligned
  @extend .middle-aligned, .justify-content-flex-end
.middle-center-aligned-full
  @extend .middle-aligned, .justify-content-center, .flex-full
.middle-center-aligned-full-column
  @extend .middle-center-aligned-full, .flex-column
.center-aligned
  @extend .d-flex, .justify-content-center
.center-aligned-column
  @extend .center-aligned, .flex-column
.end-aligned
  @extend .d-flex, .justify-content-flex-end
.plain-column
  @extend .d-flex, .flex-column
.plain-full
  @extend .d-flex, .flex-full
.full-column
  @extend .plain-column, .flex-full
.center-aligned-full-column
  @extend .full-column, .justify-content-center

.text-overflow-hidden
  @extend .white-space-no-wrap, .overflow-hidden

.colorless
  filter: grayscale(1)

.blurred
  backdrop-filter: blur(0.5rem)

.blurred-before
  @extend .relative
  &:before
    @extend .blurred, .absolute, .width-100, .height-100
    content: ''
    top: 0
    left: 0
    z-index: -1
    border-radius: inherit

.shadowed
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15) !important

@for $i from 0 through 10
  $transparency: $i * 10
  $opacity: (10 - $i) * 10%

  .transparent-light-#{$transparency}
    background: rgb(255 255 255 / #{$opacity}) !important

  .transparent-dark-#{$transparency}
    background: rgb(32 33 34 / #{$opacity}) !important

//

.main-section
  width: 200px

.main-big-section
  width: 250px

.main-large-section
  width: 300px

//

.main-top-large-section
  margin-bottom: 2rem !important

.main-top-big-section
  margin-bottom: 1.75rem !important

.main-top-section
  margin-bottom: 1.5rem !important

.main-top-medium-section
  margin-bottom: 1.25rem !important

.main-top-small-section
  margin-bottom: 1rem !important

.main-top-mini-section
  margin-bottom: 0.75rem !important

.main-top-extrasmall-section
  margin-bottom: 0.5rem !important

//

.main-bottom-large-section
  margin-top: 2rem !important

.main-list-bottom-large-section
  &:not(:first-child)
    @extend .main-bottom-large-section

.main-bottom-section
  margin-top: 1.5rem !important

.main-list-bottom-section
  &:not(:first-child)
    @extend .main-bottom-section

.main-bottom-medium-section
  margin-top: 1.25rem !important

.main-bottom-small-section
  margin-top: 1rem !important

.main-list-bottom-small-section
  &:not(:first-child)
    @extend .main-bottom-small-section

.main-bottom-mini-section
  margin-top: 0.75rem !important

.main-list-bottom-mini-section
  &:not(:first-child)
    @extend .main-bottom-mini-section

.main-bottom-extrasmall-section
  margin-top: 0.5rem !important

.main-list-bottom-extrasmall-section
  &:not(:first-child)
    @extend .main-bottom-extrasmall-section

//

[dir="ltr"]
  .main-left-large-section
    margin-right: 2rem !important
[dir="rtl"]
  .main-left-large-section
    margin-left: 2rem !important

.main-list-left-large-section
  &:not(:last-child)
    @extend .main-left-large-section

[dir="ltr"]
  .main-left-section
    margin-right: 1.5rem !important
[dir="rtl"]
  .main-left-section
    margin-left: 1.5rem !important

[dir="ltr"]
  .main-left-medium-section
    margin-right: 1.25rem !important
[dir="rtl"]
  .main-left-medium-section
    margin-left: 1.25rem !important

.main-list-left-medium-section
  &:not(:last-child)
    @extend .main-left-medium-section

[dir="ltr"]
  .main-left-small-section
    margin-right: 1rem !important
[dir="rtl"]
  .main-left-small-section
    margin-left: 1rem !important

.main-list-left-small-section
  &:not(:last-child)
    @extend .main-left-small-section

[dir="ltr"]
  .main-left-mini-section
    margin-right: 0.75rem !important
[dir="rtl"]
  .main-left-mini-section
    margin-left: 0.75rem !important

.main-list-left-mini-section
  &:not(:last-child)
    @extend .main-left-mini-section

[dir="ltr"]
  .main-left-extrasmall-section
    margin-right: 0.5rem !important
[dir="rtl"]
  .main-left-extrasmall-section
    margin-left: 0.5rem !important

.main-list-left-extrasmall-section
  &:not(:last-child)
    @extend .main-left-extrasmall-section

//

[dir="ltr"]
  .main-right-large-section
    margin-left: 2rem !important
[dir="rtl"]
  .main-right-large-section
    margin-right: 2rem !important

[dir="ltr"]
  .main-right-section
    margin-left: 1.5rem !important
[dir="rtl"]
  .main-right-section
    margin-right: 1.5rem !important

.main-list-right-section
  &:not(:first-child)
    @extend .main-right-section

[dir="ltr"]
  .main-right-medium-section
    margin-left: 1.25rem !important
[dir="rtl"]
  .main-right-medium-section
    margin-right: 1.25rem !important

.main-list-right-medium-section
  &:not(:first-child)
    @extend .main-right-medium-section

[dir="ltr"]
  .main-right-small-section
    margin-left: 1rem !important
[dir="rtl"]
  .main-right-small-section
    margin-right: 1rem !important

.main-list-right-small-section
  &:not(:first-child)
    @extend .main-right-small-section

[dir="ltr"]
  .main-right-mini-section
    margin-left: 0.75rem !important
[dir="rtl"]
  .main-right-mini-section
    margin-right: 0.75rem !important

.main-list-right-mini-section
  &:not(:first-child)
    @extend .main-right-mini-section

[dir="ltr"]
  .main-right-extrasmall-section
    margin-left: 0.5rem !important
[dir="rtl"]
  .main-right-extrasmall-section
    margin-right: 0.5rem !important

.main-list-right-extrasmall-section
  &:not(:first-child)
    @extend .main-right-extrasmall-section

//

.main-icon
  @extend .no-margin

//

.main-left-small-icon
  @extend .main-icon, .main-left-small-section

.main-list-left-small-icon
  @extend .main-icon, .main-list-left-small-section

.main-left-mini-icon
  @extend .main-icon, .main-left-mini-section

.main-left-extrasmall-icon
  @extend .main-icon, .main-left-extrasmall-section

.main-right-small-icon
  @extend .main-icon, .main-right-small-section

.main-list-right-small-icon
  @extend .main-icon, .main-list-right-small-section

.main-right-extrasmall-icon
  @extend .main-icon, .main-right-extrasmall-section

.main-bottom-small-icon
  @extend .main-icon, .main-bottom-small-section

.main-bottom-mini-icon
  @extend .main-icon, .main-bottom-mini-section

.main-list-bottom-mini-icon
  @extend .main-icon, .main-list-bottom-mini-section

//

.main-segments-container
  @extend .main-segment-container
  & > .main-segment
    @extend .no-shadow
  &:not(.simple)
    &.inverted
      & > .main-segment
        &:not(:first-child)
          @extend .border-top-inverted
  &.simple
    & > .main-segment
      &:not(:first-child)
        &:not(.bordered)
          @extend .no-border
          padding-top: 0.5rem !important
        &.not-top-padded
          padding-top: 0 !important
        &.bordered
          &.inverted
            @extend .border-top-inverted

.main-search
  .prompt
    @extend .border-radius

.main-search-results
  @extend .no-border, .width-100, .blurred
  height: unset !important
  .result
    @extend .middle-aligned
    .image
      @extend .shadowed
      img
        @extend .object-fit-cover
    .content
      @extend .no-margin, .flex-full, .word-break-break-word, .main-list-right-small-section, .main-text-container
      .title
        line-height: 1.3rem
      .description
        .artist-name
          @extend .text-color-black
          margin-top: 0.2rem
          line-height: 1.3rem
        .album-title
          margin-top: 0.1rem
          line-height: 1.1rem
          font-size: 1rem
    &:only-child
      &:hover
        border-radius: inherit !important
  &.inverted
    @extend .border-inverted
    .result
      @extend .border-bottom-inverted
      .image
        @extend .border-inverted
      .content
        .title
          @extend .text-color-white
        .description
          .artist-name
            @extend .text-color-white
          .album-title
            @extend .text-color-white-inverted
      &:hover,
      &.active
        @extend .background-grey-inverted
    .message
      .header,
      .description
        @extend .text-color-white
  &.artists-results
    .result
      .image
        @extend .image-40
        border-radius: 50% !important
  &.albums-results
    .result
      .image
        @extend .image-40, .rounded-medium
  &.tracks-results
    .result
      .image
        @extend .image-35, .rounded-medium

.main-input
  & > input,
  & > textarea
    @extend .background-none
  &.inverted
    & > input,
    & > textarea
      @extend .background-none, .text-color-white, .border-inverted
      &:focus
        @extend .border-color-base-light
    & > .icon
      @extend .text-color-white

.main-simple-button
  @extend .no-padding, .no-shadow, .no-border-radius, .middle-center-aligned

.main-navbar-button
  @extend .main-simple-button, .height-navbar
  width: $navbarPanelHeight

.main-segment-container
  @extend .no-border, .no-margin, .main-list-bottom-large-section, .blurred-before
  &.inverted
    @extend .shadowed
    &.nested
      @extend .border-inverted, .no-shadow

.main-segment
  @extend .scroll-smooth
  &.loading
    min-height: 150px !important
    z-index: 1
    &:before
      @extend .background-none, .blurred
      border-radius: inherit !important
  &.inverted
    @extend .no-shadow
  &.disabled
    @extend .text-color-black
    &.inverted
      @extend .text-color-white
  &.with-top-section
    @extend .flex-column

.main-paginated-page-segment-container
  @extend .full-column

.main-image-modal-content
  @extend .center-aligned-column

.main-image-container
  @extend .relative
  padding-bottom: 100%
  &.video
    padding-bottom: calc(100% / 16 * 9)
  & > .image,
  & > .image-content
    @extend .absolute, .width-100, .height-100
  &:hover
    .main-image-clear-button
      @extend .d-block

.main-link
  @extend .text-color-unset, .cursor-pointer
  &:hover,
  &.active
    @extend .text-color-base
  &.bold
    @extend .text-bold
  &.underlined
    text-decoration: underline

.main-text-section
  @extend .main-list-bottom-mini-section, .main-text-container

.main-small-text-container
  @extend .word-break-break-word

.main-text-container
  @extend .word-break-break-word
  line-height: 1.6em !important
  white-space: pre-wrap

.main-lyrics-container
  @extend .main-text-container
  padding: 1.5rem 2.5rem
  & > .lyrics
    font-size: 16px

.main-simple-list-item
  @extend .d-flex, .word-break-break-word
  padding: 1rem 1.25rem !important
  &.not-padded
    @extend .no-padding
  & > .image
    @extend .main-list-right-medium-section
  & > .content
    @extend .flex-full, .no-padding, .main-list-right-medium-section, .main-text-container
    .header
      line-height: 1.5rem !important
    .text
      font-size: 20px
  .extra
    line-height: 1.3rem
    margin-top: 0.15rem
  .description
    &:not(.right, .left)
      line-height: 1.1rem
      margin-top: 0.15rem
  & > .base-options-popup-container
    @extend .main-list-right-small-section
  .main-self-icons
    @extend .text-align-center, .main-list-right-small-section
    width: 50px
  &:hover
    .link-active
      @extend .text-color-base

.main-simple-list-item-model-icon
  @extend .main-left-extrasmall-section

.main-popup
  @extend .no-border, .no-padding, .background-none, .blurred
  max-width: unset !important
  z-index: 2000 !important
  &.inverted
    @extend .border-inverted
  &.animating
    @extend .pointer-events-none
  &.small
    .main-popup-content-container
      padding: 1rem 1.25rem !important
  &.extrasmall
    .main-popup-content-container
      padding: 0.75rem 1rem !important

.main-popup-container
  @extend .d-none

.main-popup-content-container
  @extend .no-border
  &.inverted
    @extend .border-inverted
    .main-options-option
      &:hover
        background: #ffffff14 !important
  .info-section
    @extend .main-list-bottom-mini-section
    line-height: 1.5rem !important
  .main-options-option
    &:hover
      background: #0000000d !important

.main-artist-popup
  width: 460px

.main-annotation-popup
  width: 375px
  .main-popup-content-container
    @extend .overflow-y-auto
    max-height: 250px
    img
      width: unset !important
      height: unset !important
      max-width: 100%

.main-volume-popup
  @extend .text-align-center
  width: 70px !important

.main-lastfm-import-info-popup
  max-width: 250px !important

.main-fixed-popup
  @extend .fixed

.main-header
  @extend .no-margin, .word-break-break-word
  line-height: normal !important
  .header-icon
    &.small
      @extend .main-left-extrasmall-section
      font-size: 1.2rem !important
  &.massive
    .header-icon
      &.small
        @extend .main-left-medium-section
        font-size: 2rem !important

.main-dropdown-item
  @extend .middle-aligned, .word-break-break-word
  line-height: 1.2rem !important
  &.selected
    font-weight: unset !important
  & > .icon,
  & > .flag
    @extend .main-left-small-section
  & > .image-container
    @extend .main-left-small-section
    .image
      @extend .object-fit-cover
      &:not(.video-image)
        @extend .image-35
      &.video-image
        @extend .video-image-60
  & > .content
    @extend .flex-full, .word-break-break-word, .main-text-container
    white-space: normal
    & > .subheader
      @extend .word-break-break-word
      margin-top: 0.25rem
      font-size: 80%
      line-height: 1.2rem
  & > .extra
    @extend .main-right-small-section
    font-size: 0.8rem

.main-dropdown-icon
  @extend .middle-center-aligned, .no-margin
  height: 18px !important
  width: 18px !important

.main-settings-section-container
  @extend .main-list-bottom-large-section
  .base-divider
    margin-bottom: 3rem !important

.main-settings-option-container
  @extend .main-list-bottom-large-section

.main-settings-option
  @extend .middle-aligned
  .option-text
    @extend .flex-full, .text-align-center

.main-settings-option-header
  @extend .flex-full, .main-list-left-large-section
  .beta-label
    flex: none

.main-model-source-select-container
  @extend .middle-aligned
  & > .content
    @extend .middle-aligned, .main-text-container

.main-source-select
  @extend .main-big-section

.main-sidebar-item
  @extend .no-padding, .d-flex
  font-size: 1.1rem
  &.top-item
    @extend .align-items-center, .border-bottom, .height-navbar
    &.inverted
      @extend .border-bottom-inverted
    .image
      @extend .image-25
  &:before
    background: none !important
  &:hover
    &:not(.active.primary)
      .icon
        @extend .text-color-black
      &.inverted
        .icon
          @extend .text-color-white

.main-sidebar-item-icon-image-container
  @extend .middle-center-aligned
  width: $sidebarPanelWidth
  height: $sidebarPanelWidth
  flex-shrink: 0
  .icon
    font-size: 16px

.main-columns-container
  @extend .plain-full

.main-profile-page-left-column
  @extend .no-margin, .width-25
  .main-profile-page-info
    @extend .middle-aligned-column, .text-align-center, .word-break-break-word
    .main-self-icons
      max-width: 75px
  .main-profile-page-image-container
    @extend .relative, .image-120, .main-top-mini-section

.main-right-column
  @extend .full-column, .main-right-large-section
  &.small
    @extend .main-right-section

.main-sticky-container
  @extend .sticky, .height-fit-content
  top: $mainContainerTopPadding

.main-modal-import-section
  @extend .full-column, .overflow-y-auto, .scroll-smooth

.main-self-container
  @extend .middle-center-aligned, .width-100, .relative
  min-height: 30px
  .base-options-popup-container
    @extend .absolute, .no-right

.main-button
  @extend .no-margin
  &.simple
    @extend .no-shadow

.main-form-extra-section
  @extend .d-flex

.main-form-image-field
  @extend .middle-aligned-column, .width-35
  padding: 0 10px
  max-width: 150px
  .main-image-container
    @extend .width-100

.main-form-extra-section-fields-section
  @extend .main-right-section, .flex-full

.main-sendable-form
  & > .as-community-container
    @extend .main-bottom-section
  & > .buttons-container
    @extend .middle-aligned, .main-bottom-section

.main-message-item
  padding: 1.5rem !important
  &.inverted
    @extend .border-inverted

.main-paginated-segment-container
  @extend .d-flex

.main-compatibility-common-button
  @extend .main-list-right-small-section

.main-sendable-content-section
  @extend .no-padding, .no-margin, .main-list-bottom-section

.main-zoomable-image
  @extend .cursor-zoom-in

.main-image-list-item
  @extend .relative, .align-self-center
  &.selectable
    &.active
      @extend .border-radius-medium
      border: $borderBaseLight
    .image
      @extend .cursor-pointer
  &:hover
    .main-image-clear-button
      @extend .d-block

.main-image-clear-button
  @extend .main-button, .absolute, .d-none
  top: 0.5rem
[dir="ltr"]
  .main-image-clear-button
    right: 0.5rem
[dir="rtl"]
  .main-image-clear-button
    left: 0.5rem

.main-labels-section
  @extend .middle-aligned
  &:not(:last-child)
    @extend .main-top-extrasmall-section

.main-date-section
  min-width: 75px
  &.right
    @extend .text-align-right, .main-right-small-section
  &.centered
    @extend .text-align-center

.main-menu-item
  @extend .middle-aligned, .word-break-break-word
  &.active
    @extend .text-bold
    &.primary
      @extend .background-base, .text-color-white
      .icon
        @extend .text-color-white
  .icon
    @extend .main-list-left-small-icon
    float: none !important
  &:last-child
    @extend .no-border

.main-clearable-field
  @extend .middle-aligned

.main-counter-bar-container
  @extend .middle-aligned

.main-more-container
  @extend .end-aligned, .main-bottom-section

.main-page-container
  @extend .plain-column
  min-height: calc(100vh - #{$mainContainerTopPadding} - #{$mainContainerBottomPadding}) !important

.main-page-segment-container
  @extend .plain-full

.main-counters-section
  @extend .center-aligned

.main-counter-section
  @extend .width-fit-content
  .icon
    @extend .main-left-extrasmall-icon, .width-fit-content

.main-inline-counter-section
  @extend .main-list-left-small-section, .d-inline-block
  margin-bottom: 0.25rem

.main-background
  @extend .fixed, .width-100, .height-100
  transition: background 0.25s ease
  &.dark
    filter: brightness(0.4) grayscale(20%)

.main-view
  padding-top: $mainContainerTopPadding
  padding-bottom: $mainContainerBottomPadding

.main-popup-icon
  @extend .main-icon, .cursor-pointer

.main-form-submit-button-container
  @extend .end-aligned, .main-bottom-section

.main-form-remember-submit-button-container
  @extend .middle-aligned-space-between, .main-bottom-section

.main-small-artist-name
  margin-top: 0.3rem
  line-height: 1.2rem

.main-small-album-title
  margin-top: 0.2rem
  line-height: 1rem

.main-paginated-list-container
  @extend .full-column, .width-100

.main-page-top-section
  @extend .middle-aligned-space-between
  .section
    @extend .middle-aligned
  .section-item
    @extend .main-right-section

.main-transition-item
  @extend .visibility-hidden

.main-settings-options-block
  padding: 1rem 1.5rem !important

.main-seeker-container
  margin: 1.5rem 0
  padding: 0 1.5rem

.main-buttons-container
  .button
    @extend .main-list-right-small-section

.main-small-buttons-container
  .button
    @extend .main-list-right-mini-section

.main-options-option
  padding: 0.9rem 1.25rem !important

.main-options-option-icon
  @extend .main-left-small-icon

.main-toggle-container
  @extend .middle-aligned
  .text-section
    @extend .main-left-medium-section

.main-self-icons
  &.centered
    @extend .text-align-center

.main-simple-search-input
  @extend .flex-full

.main-system-input
  @extend .d-none

.main-search-container
  @extend .middle-aligned

.main-search-input
  @extend .main-big-section

.main-bottom-right-button
  bottom: 1.5rem
[dir="ltr"]
  .main-bottom-right-button
    right: 1.5rem
[dir="rtl"]
  .main-bottom-right-button
    left: 1rem

.main-bottom-right-small-button
  bottom: 1rem
  &.player-panel-bottom
    bottom: calc(#{$playerPanelHeight} + 1rem) !important
[dir="ltr"]
  .main-bottom-right-small-button
    right: 1rem
[dir="rtl"]
  .main-bottom-right-small-button
    left: 1rem

.main-visibility-container
  .invisible-item
    &:not(.visible)
      @extend .visibility-hidden
  .hidden-item
    &:not(.visible)
      @extend .d-none
  &:hover
    .invisible-item
      @extend .visibility-visible
    .hidden-item
      @extend .d-block

.main-simple-self-icon
  @extend .main-icon, .d-inline-block
  margin: 0.25rem !important

.main-link-section
  @extend .d-inline-block, .main-left-medium-section
  margin-bottom: 0.25rem

.main-key-label
  border-radius: 0.5rem !important
