@use './Variables.sass' as *
@use './Shared.sass'

.icon
  &.amazonmusic
    &:before
      content: $amazonMusicIconUrl
    &:not(.colored):before
      @extend .colorless
  &.audius
    &:before
      content: $audiusIconUrl
    &:not(.colored):before
      filter: opacity(0.65)
  &.bandcamp
    &:before
      content: $bandcampIconUrl !important
    &:not(.colored):before
      @extend .colorless
  &.deezer
    &:before
      content: $deezerIconUrl !important
    &:not(.colored):before
      @extend .colorless
  &.discogs
    &:before
      content: $discogsIconUrl
    &:not(.colored):before
      filter: opacity(0.65)
  &.discord
    &:before
      content: $discordIconUrl !important
    &:not(.colored):before
      @extend .colorless
  &.genius
    &:before
      content: $geniusIconUrl
    &:not(.colored)
      @extend .colorless
  &.lastfm
    &:before
      content: $lastfmIconUrl !important
    &:not(.colored)
      @extend .colorless
  &.muffon
    &:before
      content: $muffonIconUrl
    &:not(.colored)
      @extend .colorless
  &.musicbrainz
    &:before
      content: $musicBrainzIconUrl
    &:not(.colored):before
      @extend .colorless
  &.musixmatch
    &:before
      content: $musixMatchIconUrl
    &:not(.colored):before
      @extend .colorless
  &.odnoklassniki
    &:before
      content: $odnoklassnikiIconUrl !important
    &:not(.colored):before
      @extend .colorless
  &.soundcloud
    &:before
      content: $soundCloudIconUrl !important
    &:not(.colored):before
      @extend .colorless
  &.spotify
    &:before
      content: $spotifyIconUrl !important
    &:not(.colored):before
      @extend .colorless
  &.vk
    &:before
      content: $vkIconUrl !important
    &:not(.colored):before
      @extend .colorless
  &.yandexmusic
    &:before
      content: $yandexMusicIconUrl
    &:not(.colored):before
      @extend .colorless
  &.youtube
    &:before
      content: $youTubeIconUrl !important
    &:not(.colored):before
      @extend .colorless
  &.youtubemusic
    &:before
      content: $youTubeMusicIconUrl
    &:not(.colored):before
      @extend .colorless
