$colorBase: #804fb3
$colorBaseLight: #b589d6
$colorGrey: #22242626
$colorGreyInverted: #ffffff26
$colorWhite: #ffffff
$colorWhiteInverted: #ffffffb3
$colorWhiteTransparent: #ffffff80
$colorBlack: #202122
$colorBlackTransparent: #202122cc

$colorLastfm: #d51007

$border: 1px solid $colorGrey
$borderBaseLight: 1px solid $colorBaseLight
$borderInverted: 1px solid $colorGreyInverted
$borderTransparent: 1px solid transparent

$borderRadiusLarge: 1rem
$borderRadius: 0.75rem
$borderRadiusMedium: 0.5rem
$borderRadiusSmall: 0.25rem

$sidebarPanelWidth: 45px
$navbarPanelHeight: 50px
$playerPanelHeight: 80px
$mainContainerTopPadding: $navbarPanelHeight + 20px
$mainContainerBottomPadding: 40px
$mainContainerBottomPlayerPadding: $playerPanelHeight + 20px
$mainModalHeight: 80vh
$settingsModalHeight: 90vh
$imageModalHeight: 90vh
$imageModalThumbHeight: 115px
$trackPagePlayerPanelHeight: 40px
$tabsPanelHeight: 50px
$variantsPanelLabelHeight: 35px
$variantsPanelHeight: 290px
$sourceIconSize: 16px

$muffonIconUrl: url('@/assets/icons/muffon.png')
$amazonMusicIconUrl: url('@/assets/icons/amazonmusic.png')
$audiusIconUrl: url('@/assets/icons/audius.png')
$bandcampIconUrl: url('@/assets/icons/bandcamp.png')
$deezerIconUrl: url('@/assets/icons/deezer.png')
$discogsIconUrl: url('@/assets/icons/discogs.png')
$discordIconUrl: url('@/assets/icons/discord.png')
$geniusIconUrl: url('@/assets/icons/genius.png')
$lastfmIconUrl: url('@/assets/icons/lastfm.png')
$musicBrainzIconUrl: url('@/assets/icons/musicbrainz.png')
$musixMatchIconUrl: url('@/assets/icons/musixmatch.png')
$odnoklassnikiIconUrl: url('@/assets/icons/odnoklassniki.png')
$soundCloudIconUrl: url('@/assets/icons/soundcloud.png')
$spotifyIconUrl: url('@/assets/icons/spotify.png')
$vkIconUrl: url('@/assets/icons/vk.png')
$yandexMusicIconUrl: url('@/assets/icons/yandexmusic.png')
$youTubeIconUrl: url('@/assets/icons/youtube.png')
$youTubeMusicIconUrl: url('@/assets/icons/youtubemusic.png')
