.card.dark.mb-3#recommendation{ id: recommendation.id }
  .card-body
    .row
      .col-12.col-sm-4.col-lg-3
        = render 'partials/recommendations/artist', recommendation: recommendation

      .col-12.col-sm-8.col-lg-6.recommendation-info
        = render 'partials/recommendations/artist_info', recommendation: recommendation

      .col-12.col-sm-8.offset-sm-4.col-lg-3.offset-lg-0
        = render 'partials/recommendations/similar', recommendation: recommendation
