.album.album_170.mg_btm_20
  = link_to artist_album_path(name: album.artist.artist_name, title: album.album_title) do
    = image_tag album.album_cover
    %h4
      %strong
        = album.title
  %h5
    = link_to album.artist.name, artist_path(name: album.artist.artist_name)
