#player{data: {turbolinks: {permanent: true}}}
	= file_field_tag :audio, id: 'audio_file', accept: 'audio/*'
	%audio#audio_player{controls: true}

:javascript
	audio_file.onchange = function() {
		var files = this.files;
		var file = URL.createObjectURL(files[0]);
		audio_player.src = file;
		audio_player.play();
	}