.prog_bar.panel.panel-default#progress-bar{id: "#{current_profile.id}", hidden: true, data: {turbolinks: {permanent: true}}}
	.progress
		#job-progress.progress-bar.progress-bar-striped.active
	#job_status
		.job.inline#job_process
		.job.inline#job_count
		.job.inline#job_total
		.job.inline#job_entity