.progress_bars
  .prog_bar.panel#plays_import{id: "#{current_profile.id}", hidden: true, data: {turbolinks: {permanent: true}}}
    .progress.mg_btm_10
      #job-progress.progress-bar.progress-bar-striped.active
    .job_status
      .inline#job_process Importing listening history...
      .inline#job_count
      .inline#job_total
      .inline#job_entity

  .prog_bar.panel#loved_tracks_import{id: "#{current_profile.id}", hidden: true, data: {turbolinks: {permanent: true}}}
    .progress.mg_btm_10
      #job-progress.progress-bar.progress-bar-striped.active
    .job_status
      .inline#job_process Importing loved tracks...
      .inline#job_count
      .inline#job_total
      .inline#job_entity

  .prog_bar.panel#tags_import{id: "#{current_profile.id}", hidden: true, data: {turbolinks: {permanent: true}}}
    .progress.mg_btm_10
      #job-progress.progress-bar.progress-bar-striped.active
    .job_status
      .inline#job_process Importing tags...
      .inline#job_count
      .inline#job_total
      .inline#job_entity

  .prog_bar.panel#recommendations_import{id: "#{current_profile.id}", hidden: true, data: {turbolinks: {permanent: true}}}
    .progress.mg_btm_10
      #job-progress.progress-bar.progress-bar-striped.active
    .job_status
      .inline#job_process Generating recommendations...
      .inline#job_count
      .inline#job_total
      .inline#job_entity  