.prog_bar.panel.panel-default#progress-bar{id: "#{current_profile.id}", hidden: true, data: {turbolinks: {permanent: true}}}
	.progress
		#job-progress.progress-bar.progress-bar-striped.active
	#job_status
		.job#job_process
		.job#job_count
		of
		.job#job_total
		.job#job_entity