#upbar-container
  .row.no-gutters
    .main-wrap
      #upbar
        #beta-btn
          beta
        .up#logo
          = link_to root_path do
            %h3.mb-0
              muffon

        = render "layouts/upbar/#{params[:controller]}"
